<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
    <h3 class="modal-title text-center">New Employee</h3>
</div>
<form name="addEmployeeForm">
    <div class="modal-body">
        <div class="row form-inline employee-search">
            <div class="form-group col-md-12">
                <label for="employeeId">Employee Email:</label>
                <input class="form-control" type="email" id="employeeId" ng-model="id" required>
                <button class="btn btn-gradient-success" ng-click="addEmployeeForm.$valid && findEmployee(id)"
                        type="submit">
                    Search
                </button>
                <i class="fa fa-spinner fa-pulse fa-2x" ng-show="searching"></i>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12" ng-if="employee">
                <img ng-if="employee.avatarVersion && employee.provider == 'bookd'"
                     ng-src="{{cloudinaryBaseUrl}}{{employee.avatarVersion}}/profile/{{employee._id}}"
                     style="height:100px;width:100px;">
                <img ng-if="employee.provider === 'google_plus' && !employee.photo && !searching"
                     ng-src="{{cloudinaryDefaultPic}}"/>
                <img ng-if="!employee.avatarVersion && employee.provider == 'bookd'"
                     ng-src="{{cloudinaryDefaultPic}}"
                     style="height:100px;width:100px;">
                <img class="provider-photo-radius" ng-if="employee.provider === 'google_plus'"
                     ng-src="{{employee.photo}}"/>
                <img class="provider-photo-radius" ng-if="employee.provider === 'facebook'"
                     ng-src="{{facebookApi}}{{employee.providerId}}/picture?type=large"/>

                <p>{{employee.name}}</p>
            </div>
            <div class="col-md-12" ng-if="!employee && searched">
                <p>No employee with that email found.</p>
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button class="btn btn-gradient-primary" ng-disabled="!employee"
            ng-click="create(employee._id)"
            type="submit">Register Employee
    </button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>