<div class="modal-header">
    <h3 class="modal-title text-center">{{business.info.name}}</h3>
</div>
<div ng-if="status === 400" class="modal-body text-center">
    <h4>{{business.message}}</h4>
    <h4>If this is your business and you have not yet claimed it please contact us and we work to resolve the claim.
        Thank you.</h4>
</div>
<div ng-if="status === 200" class="modal-body">
    You request has gone through successfully, we will review the request and contact you soon. Thank you!
</div>
<div class="modal-footer">
    <button class="btn btn-gradient-primary" ng-if="status === 200" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-gradient-primary" ng-if="status === 400" type="button" ng-click="cancel()">Cancel</button>
</div>