<div class="modal-header text-center">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
    <div ng-if="activeTab !== 'pay'">
        <h3 class="modal-title text-center">{{service.name}} </h3>
        <h5 style="margin:0px;">{{service.description}}</h5>
        <h5 style="margin:0px;">{{service.duration | humanizeDurationFilter}} - {{service.price | currency}}</h5>
    </div>
    <div ng-if="activeTab === 'pay'">
        <h3 class="modal-title text-center">Confirm Appointment</h3>
    </div>
    <timer ng-show="showCount" countdown="countdown" max-time-unit="'minute'" interval="1000" auto-start="false"
           finish-callback="timerFinished()">Appointment being held for: {{mminutes}} minute{{minutesS}},
        {{sseconds}} second{{secondsS}}
    </timer>
</div>
<div class="modal-body container-fluid">
    <ul class="hide nav nav-tabs" id="tabContent">
        <li class="active"><a data-target="#details" data-toggle="tab"></a></li>
        <li><a data-target="#customer" data-toggle="tab"></a></li>
        <li><a data-target="#employees" data-toggle="tab"></a></li>
        <li><a data-target="#schedule" data-toggle="tab"></a></li>
        <li><a data-target="#pay" data-toggle="tab"></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in" ng-class="{active:activeTab === 'customer',fade:activeTab !== 'customer'}">
            <div class="row text-center" style="margin-left:10px;margin-right:10px;">
                <h3 style="margin-top:0px;">Select or Create New Customer</h3>
                <div class="col-xs-6">
                    <div class="form-inline form-group">
                        <span class="left-inner-addon">
                            <i ng-show="!loadingCustomers" class="fa fa-search"></i>
                            <input class="form-control input-md" aria-describedby="search"
                                   ng-model="customerQuery"
                                   placeholder="Search Customer" id="search"
                                   required>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-xs-offset-3 text-center"
                             style="max-height:300px; overflow-y:scroll;padding-left:0px;padding-right:30px;">
                            <div ng-show="loadingCustomers">
                                <i class="fa fa-spinner fa-pulse"> Loading...</i>
                            </div>
                            <div ng-if="!loadingCustomers"
                                 ng-repeat="listedCustomer in customers | filter:customerQuery | orderBy:'name'">
                                <form class="form-horizontal">
                                    <a href="#" ng-click="setCustomer(listedCustomer)"
                                       uib-popover-template="dynamicPopover.templateUrl" popover-placement="left"
                                       popover-append-to-body="true" popover-trigger="mouseenter"
                                       popover-title="{{listedCustomer.name}}">
                                        <div class="text-left">
                                            <!--<img class="fitContainer provider-photo-radius"-->
                                            <!--ng-if="listedCustomer.provider === 'google_plus' && listedCustomer.photo"-->
                                            <!--ng-src="{{listedCustomer.photo}}"-->
                                            <!--style="height:20px;width:20px;border-radius:50%"/>-->
                                            <!--<img class="fitContainer provider-photo-radius"-->
                                            <!--ng-if="listedCustomer.provider === 'google_plus' && !listedCustomer.photo"-->
                                            <!--ng-src="{{cloudinaryDefaultPic}}"-->
                                            <!--style="height:20px;width:20px;border-radius:50%"/>-->
                                            <img class="fitContainer provider-photo-radius"
                                                 ng-if="listedCustomer.provider === 'facebook'"
                                                 ng-src="{{facebookApi}}{{listedCustomer.providerId}}/picture?type=large"
                                                 style="height:20px;width:20px;border-radius:50%"/>

                                            <img class="fitContainer provider-photo-radius"
                                                 ng-if="!listedCustomer.avatarVersion && listedCustomer.provider === 'bookd' || listedCustomer.provider === 'business'"
                                                 ng-src="{{cloudinaryDefaultPic}}"
                                                 style="height:20px;width:20px;border-radius:50%">
                                            <img class="fitContainer provider-photo-radius"
                                                 ng-if="listedCustomer.avatarVersion && listedCustomer.provider === 'bookd'"
                                                 ng-src="{{cloudinaryBaseUrl}}{{listedCustomer.avatarVersion}}/profile/{{listedCustomer._id}}"
                                                 style="height:20px;width:20px;border-radius:50%">
                                            {{listedCustomer.name}}
                                            <span class="pull-right">
                                            <i class="fa fa-check text-success"
                                               ng-if="listedCustomer._id === customer._id"></i>
                                        </span>
                                        </div>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-offset-1">
                            <form name="newCustomerForm" class="form-horizontal">
                                <uib-alert ng-show="customerCreated && customer.provider === 'business'" type="success">
                                    {{customer.firstName}} - Added as a client
                                </uib-alert>
                                <uib-alert ng-show="customerCreated && customer.provider !== 'business'" type="success">
                                    {{customer.firstName}} is already registered with Bookd - Added as a client
                                </uib-alert>
                                <uib-alert ng-show="error" type="danger">{{error}}</uib-alert>
                                <div class="form-group form-inline">
                                    <label for="firstName" class="col-xs-3">Name</label>
                                    <input class="form-control col-xs-6" id="firstName" type="text" placeholder="Name"
                                           ng-model="newCustomer.name" ng-disabled="customer">
                                </div>
                                <div class="form-group form-inline">
                                    <label for="email" class="col-xs-3">Email</label>
                                    <input class="form-control col-xs-6" id="email" type="email" placeholder="Email"
                                           ng-model="newCustomer.email" ng-disabled="customer">
                                </div>
                                <div class="form-group form-inline">
                                    <label for="mobile" class="col-xs-3">Mobile</label>
                                    <input class="form-control col-xs-6" id="mobile" type="tel" placeholder="Mobile"
                                           ng-model="newCustomer.mobile" ng-disabled="customer">
                                </div>
                            </form>
                        </div>
                    </div>

                    <button class="btn btn-default" ng-click="createCustomer(newCustomer)" ng-hide="customer">
                        <span ng-show="!creatingCustomer">Create Customer</span>
                        <i class="fa fa-spinner fa-pulse" ng-show="creatingCustomer"></i>
                    </button>
                </div>
            </div>
            <div class="row text-center">
                <button class="btn btn-danger" ng-show="customer" ng-click="clearCustomer()">
                    Clear
                </button>
                <a ng-show="customer" data-target="#employees" data-toggle="tab" ng-click="changeTab('employees')"
                   class="btn btn-primary">Next</a>
            </div>
        </div>
        <div class="tab-pane fade in" ng-class="{active:activeTab === 'employees',fade:activeTab !== 'employees'}"
             id="employees">
            <h3 class="text-center">Associate</h3>
            <div class="row text-center" style="margin-left:10px;margin-right:10px;">
                <div class="col-xs-10 col-xs-offset-2">
                    <a href="#" data-target="#schedule" data-toggle="tab" ng-click="activeTab ='schedule'">
                        <div class="col-xs-5 col-sm-3 well employeeHover" ng-repeat="employee in service.employees"
                             ng-click="selectEmployee(employee);">
                            <img class="fitContainer provider-photo-radius" ng-if="employee.provider === 'facebook'"
                                 ng-src="{{facebookApi}}{{employee.providerId}}/picture?type=large"/>

                            <img class="fitContainer provider-photo-radius"
                                 ng-if="!employee.avatarVersion && employee.provider === 'bookd' || employee.provider === 'business'"
                                 ng-src="{{cloudinaryDefaultPic}}">
                            <img class="fitContainer provider-photo-radius"
                                 ng-if="employee.avatarVersion && employee.provider === 'bookd' || employee.provider === 'business'"
                                 ng-src="{{cloudinaryBaseUrl}}{{employee.avatarVersion}}/profile/{{employee._id}}">
                            <h5>{{employee.firstName}}</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <a data-target="#customer" data-toggle="tab" class="btn btn-warning" ng-click="changeTab('customer')">
                    Back
                </a>
            </div>
        </div>
        <div class="tab-pane fade in"
             ng-class="{active:activeTab === 'schedule',fade:activeTab !== 'employees',hide:activeTab==='pay'}"
             id="schedule">
            <div class="row">
                <div class="col col-md-6 text-center">
                    <h4>Select a Date to see Available Times</h4>

                    <div style="display:inline-block; min-height:290px;">
                        <uib-datepicker ng-model="selectedDate" min-date="minDate" show-weeks="false"
                                        class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                    </div>
                </div>
                <div class="col col-md-6 text-center">
                    <h4 ng-if="availableTimes.length >= 1">{{employee.firstName}}'s Available Times</h4>
                    <uib-alert ng-show="dayMessage" type="danger">{{employee.name}} is not available today.
                    </uib-alert>
                    <uib-alert
                            ng-if="availableTimes.length === 0 && !dayMessage && !calculatingAppointments && !datePassed"
                            type="danger">{{employee.name}} has no
                        more availability for {{service.name}} on this day.
                    </uib-alert>
                    <div ng-show="!calculatingAppointments" class="col-xs-4 col-md-3"
                         ng-repeat="time in availableTimes track by $index">
                        <button ng-click="createAppointmentObj(time,$index)"
                                ng-disabled="!time.available || time.status || time.toggled || time.hide"
                                ng-class="{'btn-faded-green':time.hide,'btn-gradient-red': !time.available && !time.hide
                                 || time.status,'btn-gradient-green':time.available && !time.toggled && !time.hide,'btn-gradient-blue':time.toggled}"
                                role="button" class="btn" style="margin-bottom:5px;">
                            {{time.time}}
                        </button>
                    </div>
                    <div>
                        <i ng-show="calculatingAppointments && !dayMessage" class="fa fa-2x fa-spinner fa-pulse"
                           ng-class="{'fa-pulse' : calculatingAppointments}"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a data-target="#employees" data-toggle="tab" class="btn btn-warning"
                       ng-click="back();changeTab('employees')"> Back
                    </a>
                    <a data-target="#pay" data-toggle="tab" class="btn btn-gradient-primary" ng-if="appointment"
                       ng-click="changeTab('pay')">Confirm</a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" ng-class="{active:activeTab === 'pay'}" id="pay">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Your Appointment</h3>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object associate-photo provider-photo-radius"
                                             ng-if="employee.provider === 'google_plus'"
                                             ng-src="{{employee.photo}}"/>
                                        <img class="media-object associate-photo provider-photo-radius"
                                             ng-if="employee.provider === 'google_plus' && !employee.photo"
                                             ng-src="{{cloudinaryDefaultPic}}"/>
                                        <img class="media-object associate-photo provider-photo-radius"
                                             ng-if="employee.provider === 'facebook'"
                                             ng-src="{{facebookApi}}{{employee.providerId}}/picture?type=large"/>

                                        <img class="media-object associate-photo provider-photo-radius"
                                             ng-if="!employee.avatarVersion && employee.provider === 'bookd'"
                                             ng-src="{{cloudinaryDefaultPic}}">
                                        <img class="media-object associate-photo provider-photo-radius"
                                             ng-if="employee.avatarVersion && employee.provider === 'bookd'"
                                             ng-src="{{cloudinaryBaseUrl}}{{employee.avatarVersion}}/profile/{{employee._id}}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{service.name}}</h4>
                                    <h5>{{service.description}}</h5>
                                    <h5>{{employee.firstName}}</h5>
                                    <h5>{{appointment.start.time}} - {{appointment.end.time}}</h5>

                                    <h5>{{service.duration | humanizeDurationFilter}} - {{service.price |
                                        currency}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h3>Leave Your Wallet At Home</h3>
                    <button class="btn btn-gradient-success btn-md" ng-show="appointment" ng-if="payments"
                            stripe-checkout="ctrl.checkOut"
                            data-key="pk_test_Hfdo0VXXOa2Om7YyYohtdRcb"
                            data-name="Bookd"
                            data-description="{{service.name}}"
                            data-amount="{{stripePrice}}"
                            data-image="/images/favicon.ico"
                            data-label="Book Appointment"
                            data-panel-label="Book">
                        Book Appointment <i class="fa fa-credit-card"></i>
                    </button>
                    <h4 class="text-danger">"Leave Your Wallet" simply files your payment information, you will not be
                        charged
                        until your service has been completed.</h4>

                    <h3>Book Traditionally</h3>
                    <button class="btn btn-gradient-primary btn-md" ng-show="appointment"
                            ng-click="book()">
                        Book Appointment
                    </button>

                </div>
            </div>
            <br>

            <div class="row text-center">
                <a data-target="#schedule" data-toggle="tab" class="btn btn-warning" ng-click="changeTab('schedule')">Back</a>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="container-fluid">
        <div class="row text-center">
            <img class="fitContainer provider-photo-radius"
                 ng-if="listedCustomer.provider === 'google_plus' && listedCustomer.photo"
                 ng-src="{{listedCustomer.photo}}"
                 style="height:60px;width:60px;border-radius:50%"/>
            <img class="fitContainer provider-photo-radius"
                 ng-if="listedCustomer.provider === 'google_plus' && !listedCustomer.photo"
                 ng-src="{{cloudinaryDefaultPic}}"
                 style="height:60px;width:60px;border-radius:50%"/>
            <img class="fitContainer provider-photo-radius"
                 ng-if="listedCustomer.provider === 'facebook'"
                 ng-src="{{facebookApi}}{{listedCustomer.providerId}}/picture?type=large"
                 style="height:60px;width:60px;border-radius:50%"/>

            <img class="fitContainer provider-photo-radius"
                 ng-if="!listedCustomer.avatarVersion && listedCustomer.provider === 'bookd' || listedCustomer.provider === 'business'"
                 ng-src="{{cloudinaryDefaultPic}}"
                 style="height:60px;width:60px;border-radius:50%">
            <img class="fitContainer provider-photo-radius"
                 ng-if="listedCustomer.avatarVersion && listedCustomer.provider === 'bookd'"
                 ng-src="{{cloudinaryBaseUrl}}{{listedCustomer.avatarVersion}}/profile/{{listedCustomer._id}}"
                 style="height:60px;width:60px;border-radius:50%">
        </div>
        <div class="row">
            <form class="form-vertical">
                <div class="form-group">
                    <label class=" control-label" for="listedName">First Name</label>
                    <input type="text" class="form-control" id="listedName" readonly
                           value="{{listedCustomer.firstName}}">
                </div>
                <div class="form-group">
                    <label class=" control-label" for="listedLast">Last Name</label>
                    <input type="text" class="form-control" id="listedLast" readonly
                           value="{{listedCustomer.lastName}}">
                </div>
                <div class="form-group">
                    <label class=" control-label">Email</label>

                    <p class="form-control-static">{{listedCustomer.email}}</p>
                    <!--<input type="text" class="form-control" id="listedEmail" readonly value="{{listedCustomer.email}}">-->
                </div>
                <div class="form-group">
                    <label class=" control-label" for="listedMobile">Mobile</label>
                    <input type="text" class="form-control" id="listedMobile" readonly
                           value="{{listedCustomer.mobile}}">
                </div>
            </form>
        </div>
    </div>
</script>