<div class="modal-header text-center">
    <button type="button" class="close" ng-click="close()" aria-hidden="true"><i class="fa fa-times"></i></button>
    <h3 class="modal-title text-center">{{service.name}}</h3>
    <h5 style="margin:0px;">{{service.description}}</h5>
    <h5 style="margin:0px;">{{service.duration | humanizeDurationFilter}} - {{service.price | currency}}</h5>
    <timer ng-show="showCount" countdown="countdown" max-time-unit="'minute'" interval="1000" auto-start="false"
           finish-callback="timerFinished()">Appointment being held for: {{mminutes}} minute{{minutesS}},
        {{sseconds}} second{{secondsS}}
    </timer>
    <uib-alert type="danger" ng-if="showNoEmployee">Sorry, this associate can't accept re-schedules for this service.
        However, your currently scheduled appointment is still active. If necessary please cancel and schedule with
        another associate.
    </uib-alert>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col col-md-6 text-center">
            <h4>Select a Date to see Available Times</h4>

            <div style="display:inline-block; min-height:290px;">
                <uib-datepicker ng-model="selectedDate" min-date="minDate" show-weeks="false" class="well well-lg"
                                custom-class="getDayClass(date, mode)" year-range="1"></uib-datepicker>
            </div>
            <p>Original Appointment:</p>

            <p>{{dateObj.appointment.start.day}}, {{dateObj.appointment.start.time}} for {{service.duration}}
                minutes</p>

            <p ng-if="dateObj.appointment.status === 'paid'">Appointment has been paid for already.</p>

            <p ng-if="customer.name">{{customer.name}}: {{customer.phone}}</p>

            <p ng-if="dateObj.appointment.customer">{{dateObj.appointment.customer.firstName}}:
                {{dateObj.appointment.customer.email}}</p>
            <button class="btn btn-gradient-primary"
                    ng-if="showUpdate"
                    ng-disabled="!appointment || !showUpdate"
                    ng-click="update(false)"><i class="fa fa-calendar-check-o"></i> Update Appointment
            </button>
            <button class="btn btn-gradient-danger" ng-click="cancel()"
                    ng-if="!datePassed && dateObj.appointment.status !== 'paid'">
                Cancel Appointment <i class="fa fa-calendar-times-o"></i></button>
            <button class="btn btn-gradient-green"
                    ng-if="dateObj.appointment.status == 'pending' && dateObj.appointment.customer._id === currentUser._id"
                    ng-click="update(true)"><i class="fa fa-calendar-check-o"></i> Accept & Reschedule
            </button>
        </div>
        <div class="col col-md-6 text-center">
            <h4 ng-if="availableTimes.length >= 1 && currentUser._id !== employee._id">{{employee.firstName}}'s
                Schedule</h4>
            <h4 ng-if="availableTimes.length >= 1 && currentUser._id === employee._id">Your Schedule</h4>
            <h5 class="text-muted" ng-if="availableTimes.length > 1">(Select a new time to re-schedule this
                appointment)</h5>
            <uib-alert ng-if="availableTimes.length === 0  && !dayMessage" type="danger">{{employee.firstName}} has no
                more availability for {{service.name}} on this day.
            </uib-alert>
            <uib-alert ng-if="dayMessage" type="danger">{{employee.firstName}} is not available today.
            </uib-alert>
            <div ng-show="!calculatingAppointments" class="col col-xs-4 col-md-3" ng-if="!datePassed"
                 ng-repeat="time in availableTimes track by $index">
                <button ng-click="createAppointmentObj(time,$index)"
                        ng-disabled="!time.available || time.status || time.time === activeTime.time && time.toggled || time.hide"
                        ng-class="{'btn-faded-green':time.hide,'btn-gradient-red': !time.available && !time.hide || time.status,'btn-gradient-green':time.available && !time.toggled && !time.hide,'btn-gradient-blue':time.toggled}"
                        role="button" class="btn" style="margin-bottom:5px;">
                    {{time.time}}
                </button>
            </div>
            <div>
                <i ng-show="calculatingAppointments  && !dayMessage" class="fa fa-2x fa-spinner fa-pulse"
                   ng-class="{'fa-pulse' : calculatingAppointments}"></i>
            </div>
            <h4 class="text-danger"
                ng-if="datePassed && dateObj.appointment.status !== 'paid' && currentUser._id === dateObj.appointment.customer._id">
                The original appointment time has passed, this appointment can no longer be updated. If you would like
                to reschedule you can
                schedule a new appointment via the Business' home page.
                Thank you.</h4>
            <h4 class="text-danger"
                ng-if="datePassed && dateObj.appointment.status !== 'paid' && currentUser._id !== dateObj.appointment.customer._id">
                The original appointment time has passed, this appointment can no longer be updated.
            </h4>
            <h4 class="text-danger" ng-if="dateObj.appointment.status === 'paid' && datePassed">This service has been
                fulfilled and paid for, therefore it can no longer be updated. Thank you. </h4>
        </div>
        <div class="col col-md-6 text-center">
            <uib-alert type="danger" ng-if="error">Sorry, looks like there was a problem: <br>{{error.message}}<br> You
                can accept another form of payment and update the status of this appointment manually by clicking 'Paid'
            </uib-alert>
        </div>
        <div ng-if="currentUser._id === dateObj.appointment.employee._id && !datePassed"
             class="col col-md-6 text-center">
            <form name="noteForm">
                <label for="note">Reason for re-schedule/cancellation</label>
                <textarea id="note" name="apptNote" ng-model="appointment.note" class="form-control"
                          required></textarea>
            </form>
            <uib-alert type="danger"
                       ng-show="noteForm.apptNote.$error.apptNote && noteForm.apptNote.$touched" role="alert" close="">
                Please enter a note!
            </uib-alert>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning"
            ng-if="currentUser._id === business.owner && !dateObj.appointment.card && dateObj.appointment.status !== 'paid' || error"
            ng-click="changeApptStatus()">Paid <i class="fa fa-credit-card"></i>
    </button>
    <button class="btn btn-gradient-success"
            ng-if="currentUser._id === business.owner && dateObj.appointment.card && dateObj.appointment.status !== 'paid'"
            ng-click="charge(dateObj.appointment)"><span ng-show="!charging">Charge <i
            class="fa fa-credit-card"></i></span><span ng-show="charging"><i class="fa fa-spinner fa-pulse"></i></span>
    </button>
    <button class="btn btn-danger" ng-click="close()"
            ng-if="datePassed || dateObj.appointment.status === 'paid'">
        Close
    </button>
</div>