<div class="modal-header text-center">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h3 class="modal-title text-center">{{service.name}}</h3>
    <timer ng-show="showCount" countdown="countdown" max-time-unit="'minute'" interval="1000" auto-start="false"
           finish-callback="timerFinished()">Appointment being held for: {{mminutes}} minute{{minutesS}},
        {{sseconds}} second{{secondsS}}
    </timer>
    <uib-alert type="danger" ng-show="showNoEmployee">Sorry, this associate can't accept re-schedules for this service.
        Your currently scheduled appointment is still active however, if necessary please cancel and schedule with
        another associate.
    </uib-alert>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col col-md-6 text-center">
            <h4>Select a Date to see Available Times</h4>

            <div style="display:inline-block; min-height:290px;">
                <uib-datepicker ng-model="selectedDate" min-date="minDate" show-weeks="false" class="well well-lg"
                                custom-class="getDayClass(date, mode)" year-range="1"></uib-datepicker>
            </div>
            <p>Original Appointment:</p>
            <p>{{dateObj.appointment.start.day}}, {{dateObj.appointment.start.time}} for {{service.duration}} minutes</p>
            <p ng-if="dateObj.appointment.status === 'paid'">Appointment has been paid for already.</p>
        </div>
        <div class="col col-md-6 text-center">
            <h4 ng-if="availableTimes.length > 1">{{employee.name}}'s Schedule</h4>
            <uib-alert ng-show="dayMessage" type="danger">{{employee.name}} is not available today.
            </uib-alert>
            <div class="col col-md-3" ng-if="!previousDate" ng-click="createAppointmentObj(time,$index)"
                 ng-repeat="time in availableTimes track by $index">
                <button ng-disabled="!time.available || time.status || time.toggled"
                        ng-class="{'hide':time.hide,'btn-danger': !time.available,'btn-warning':time.status,'btn-success':time.available && !time.toggled,'btn-primary':time.toggled}"
                        role="button" class="btn" style="margin-bottom:5px;">
                    {{time.time}}
                </button>
            </div>
            <h4 class="text-danger" ng-if="previousDate && dateObj.appointment.status !== 'paid'">The original appointment time has passed, this appointment can no longer be updated. If you would like to reschedule you can schedule a new appointment via the Business' home page.
                Thank you.</h4>
            <h4 class="text-danger" ng-if="dateObj.appointment.status === 'paid' && previousDate">This service has been fulfilled and paid for, therefore it can no longer be updated. Thank you. </h4>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-if="currentUser.user._id === business.owner && !dateObj.appointment.card && dateObj.appointment.status !== 'paid'"
            ng-click="changeApptStatus()">Paid <i class="fa fa-credit-card"></i>
    </button>
    <button class="btn btn-success" ng-if="currentUser.user._id === business.owner && dateObj.appointment.card && dateObj.appointment.status !== 'paid'"
            ng-click="charge(dateObj.appointment)">Charge <i class="fa fa-credit-card"></i></button>
    <button class="btn btn-primary" ng-show="availableTimes[selectedIndex].time !== dateObj.appointment.start.time && !previousDate"
            ng-disabled="!appointment || appointment.start.time == dateObj.appointment.start.time"
            ng-click="update()"><i class="fa fa-calendar-check-o"></i> Update Appointment
    </button>
    <button class="btn btn-primary"
            ng-show="dateObj.appointment.status == 'pending' && availableTimes[selectedIndex].time == dateObj.appointment.start.time &&
            dateObj.appointment.employee !== currentUser.user._id"
            ng-click="update()"><i class="fa fa-calendar-check-o"></i> Accept Re-schedule
    </button>
    <button class="btn btn-danger" ng-click="cancel()" ng-show="!previousDate && dateObj.appointment.status !== 'paid'">
        Cancel Appointment <i class="fa fa-calendar-times-o"></i></button>
    <button class="btn btn-warning" ng-click="close()" ng-show="previousDate || dateObj.appointment.status === 'paid'">Close</button>
</div>