<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h3 class="modal-title text-center">Weekly Availability</h3>
</div>
<div class="modal-body">
    <div class="col-xs-12">
        <h3 class="control-label"><i ng-show="showLoading" uib-tooltip="Updating.."
                                     class="fa fa-spinner fa-pulse text-center pull-right"></i><i
                ng-show="showDone" uib-tooltip="Availability Updated"
                class="fa fa-check-square-o text-success text-center pull-right"></i></h3>

        <form class="form-horizontal">
            <div class="form-group">
                <uib-accordion>
                    <uib-accordion-group ng-repeat="day in currentUser.user.availability track by $index"
                                         is-open="status.open">
                        <uib-accordion-heading>
                            <i ng-show="day.available" uib-tooltip="Available"
                               class="fa fa-check text-success"></i><i ng-show="!day.available"
                                                                       uib-tooltip="Unavailable"
                                                                       class="fa fa-check text-danger"></i>
                            {{day.day}}
                            <span ng-show="day.available">, {{day.start | date:'hh:mm a'}}
                                - {{day.end | date:'hh:mm a'}}</span><i class="pull-right glyphicon"
                                                                        ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <div class="checkbox text-center" tooltip-toggle="mouseenter"
                             uib-tooltip="Are you available on {{day.day}}'s">
                            <label>
                                <input ng-model="day.available" type="checkbox"> Available
                            </label>
                        </div>
                        <div class="col-xs-6">
                            Start:
                            <uib-timepicker ng-model="day.start" ng-change="changed()" hour-step="hstep"
                                            minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                            End:
                            <uib-timepicker ng-model="day.end" ng-change="changed()" hour-step="hstep"
                                            minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                        </div>
                        <div class="col-xs-6">
                            <h3>Breaks: <a ng-click="addBreak(day)" class="btn btn-success"><i
                                    class="fa fa-plus"></i></a></h3>
                            <uib-accordion>
                                <uib-accordion-group ng-repeat="gap in day.gaps track by $index">
                                    <uib-accordion-heading>
                                        <span ng-show="gap.start">{{gap.start | date:'hh:mm a'}}
                                            - {{gap.end | date:'hh:mm a'}}</span><i
                                            class="pull-right glyphicon"
                                            ng-class="{'glyphicon-chevron-down': breakStatus, 'glyphicon-chevron-right': !breakStatus}"></i>
                                    </uib-accordion-heading>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            Start:
                                            <uib-timepicker ng-model="gap.start" ng-change="changed()"
                                                            hour-step="hstep" minute-step="mstep"
                                                            show-meridian="ismeridian"></uib-timepicker>
                                            End:
                                            <uib-timepicker ng-model="gap.end" ng-change="changed()"
                                                            hour-step="hstep" minute-step="mstep"
                                                            show-meridian="ismeridian"></uib-timepicker>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-xs-offset-5">
                                            <button class="btn btn-danger text-center"
                                                    ng-click="deleteGap(day,gap,$index)">Delete
                                            </button>
                                        </div>
                                    </div>
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-5 col-xs-6">
                    <button type="submit" class="btn btn-primary"
                            ng-click="updateAvailability(currentUser.user.availability)">Update Availability
                    </button>
                    <i ng-show="showLoading" uib-tooltip="Updating.."
                       class="fa fa-spinner fa-2x fa-pulse text-center"></i>
                    <i ng-show="showDone" uib-tooltip="Availability Updated"
                       class="fa fa-check-square-o fa-2x text-success text-center"></i>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">Close</button>
</div>