<!DOCTYPE html>
<html class="full" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/landing.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div id="landingHeader" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/images/Buz_Logotype.png" style="height:30px;width:90px;"/>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <!--<a href="about.ejs">About</a>-->
                </li>
                <li>
                    <!--<a href="#">Services</a>-->
                </li>
                <li>
                    <!--<a href="#">Contact</a>-->
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="/">
                <img src="/images/buz-logo-only.png" class="center-block success-logo">
            </a>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-xs-12 text-center">-->
    <!--<h1>About Us</h1>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center about-text">
            <p>We are a grooming community and booking platform.</p>

            <p>We provide tools that allow barbers to focus on their craft while building stronger relationships with
                their clientele and community.</p>

            <p>We are taking the simple concept of getting a haircut, and focusing on the details that matter most to
                people: quality, convenience, and cost.</p>

            <p>We value that our community of barbers is not monolithic. These barbers and their clients represent a
                spectrum of identities across the world.</p>

            <p>We recognize that barbershops have become a home for many. By focusing on barbers independently, we give
                these professionals the opportunity to grow in their field, whether they choose to work within or
                outside of the shop.</p>

            <p>We are discovering methods that authentically showcase barber culture, methods that highlight how
                barbershops differentiate but are also connected.
            </p>

            <h4>Why the name BUZ?</h4>
            <p>BUZ is symbolic of the relationship between tools and craftsmen. The primary tool of the barber is the
                clipper. The continuous hum is a melodic sound that carries throughout every shop. A sound that
                solidifies the connection between a global community built on service and loyalty.</p>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.facebook.com/buzapp.me"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/buzapp.me"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="https://twitter.com/buzappme"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4">
                <span class="copyright">Copyright &copy; BUZ, Inc. All Rights Reserved.</span>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/">Home</a>
                    </li>
                    <li><a href="mailto:hello@buzapp.me">&#128273; hello@buzapp.me</a>
                    </li>
                    <!--<li><a ui-sref="">Privacy</a>-->
                    <!--</li>-->
                    <!--<li><a ui-sref="">Terms</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>