<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/stylesheets/landing.css" rel="stylesheet" type="text/css"/>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center about-text">
            We are a grooming community and booking platform.

            <p>We provide tools that allow barbers to focus on their craft while building stronger relationships with
                their
                clientele and community.

                We are taking the simple concept of getting a haircut, and focusing on the details that matter most to
                our
                users; quality, convenience, and cost.</p>

            <p>We celebrate diversity, and value that our community of barbers is not monolithic. These barbers and
                their
                clients represent a spectrum of identities across the world.

                We recognize that barbershops have become a home for many. By focusing on barbers independently, we give
                these professionals the opportunity to grow in their craft, whether they choose to work within or
                outside of
                the shop.</p>

            <p>We are discovering methods that authentically showcase barber culture, methods that highlight how
                barbershops differentiate but are also connected.</p>

            <h3>Why the name BUZ?</h3>
            <p>BUZ is symbolic of the relationship between tools and craftsmen. The primary tool of the barber is the
                clipper. The continuous hum is a melodic sound that carries throughout every shop. A sound that
                solidifies
                the connection between a global community built on service and loyalty.</p>

            <p>Give us a shout here: <a href="mailto:hello@buzapp.me">hello@buzapp.me</a></p>
            <li style="list-style:none;margin-top:40px;">
                <a href="/">
                    <img src="/images/buz-logo-only.png" style="height:40px;width:40px;">
                </a>
            </li>
            <a href="/">Home</a>
        </div>
    </div>
</div>