<!DOCTYPE html>
<html class="full" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/landing.css" rel="stylesheet" type="text/css"/>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <a href="/">
                <img src="/images/buz-logo-only.png" class="center-block" style="height:40px;width:40px;margin-top:2em">
            </a>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-xs-12 text-center">-->
    <!--<h1>About Us</h1>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 text-center about-text">
            <p>We are a grooming community and booking platform.</p>

            <p>We provide tools that allow barbers to focus on their craft while building stronger relationships with
                their
                clientele and community.</p>

            <p>We are taking the simple concept of getting a haircut, and focusing on the details that matter most to
                our
                users; quality, convenience, and cost.</p>

            <p>We celebrate diversity, and value that our community of barbers is not monolithic. These barbers and
                their
                clients represent a spectrum of identities across the world.</p>

            <p>We recognize that barbershops have become a home for many. By focusing on barbers independently, we give
                these professionals the opportunity to grow in their craft, whether they choose to work within or
                outside of
                the shop.</p>

            <p>We are discovering methods that authentically showcase barber culture, methods that highlight how
                barbershops differentiate but are also connected.</p>

            <h4>Why the name BUZ?</h4>
            <p>BUZ is symbolic of the relationship between tools and craftsmen. The primary tool of the barber is the
                clipper. The continuous hum is a melodic sound that carries throughout every shop. A sound that
                solidifies
                the connection between a global community built on service and loyalty.</p>
        </div>
    </div>
</div>