<html>
<head>
  <title>Book'd</title>
<base href="/*"> 

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/images/favicon.ico">

  <script src="/jquery/dist/jquery.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/vendor/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.2/angular-moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/2.0.3/moment-range.min.js"></script>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/services/auth-factory.js"></script>
    <script src="/javascripts/services/business-factory.js"></script>
    <script src="/javascripts/services/user-factory.js"></script>
    <script src="/javascripts/services/location-factory.js"></script>
    <script src="/javascripts/controllers/main-controller.js"></script>
    <script src="/javascripts/controllers/auth-controller.js"></script>
    <script src="/javascripts/controllers/nav-controller.js"></script>
    <script src="/javascripts/controllers/profile-controller.js"></script>
    <script src="/javascripts/controllers/landing-controller.js"></script>
    <script src="/javascripts/controllers/modal-controller.js"></script>
    <script src="/javascripts/controllers/account-controller.js"></script>
    <script src="/javascripts/controllers/bizlist-controller.js"></script>
    <script src="/javascripts/controllers/business-controller.js"></script>
    <script src="/javascripts/controllers/claim-controller.js"></script>
    <script src="/javascripts/controllers/admin-controller.js"></script>
    <script src="/javascripts/controllers/search-controller.js"></script>
    <script src="/javascripts/controllers/dashboard-controller.js"></script>
  


  <script src="/javascripts/services/admin-service.js"></script>
  <script src="/javascripts/services/socket-service.js"></script>

  <script src="/javascripts/vendor/angular-file-upload.min.js"></script>
  <script src="/javascripts/directives/thumb-directive.js"></script>
  <script src="/javascripts/vendor/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script src="/javascripts/vendor/jquery.cloudinary.js"></script>
  <script src="/javascripts/vendor/angular.cloudinary.js"></script>
  <script src="/javascripts/vendor/calendar.js"></script>
  <script src="/javascripts/vendor/lodash.min.js"></script>
  <script src="/javascripts/vendor/angularjs-dropdown-multiselect.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="/javascripts/vendor/angular-stripe-checkout.min.js"></script>
  
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="/javascripts/vendor/autocomplete.min.js"></script>

    <!--<script src="/javascripts/vendor/fullcalendar.min.js"></script>-->

  <!--<link href="/javascripts/vendor/fullcalendar.min.css" rel="stylesheet">-->
  <!--<link href="/javascripts/vendor/fullcalendar.print.css" rel="stylesheet" media="print" >-->

  <link rel="stylesheet" href="/stylesheets/autocomplete.min.css"/>

  <script src="/javascripts/vendor/ngGeolocation.min.js"></script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

  <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>
<script>
$.cloudinary.config({
    cloud_name:'dvvtn4u9h'
})
</script>
<body ng-app="cc">
  <div id="wrap">
    <nav class="navbar navbar-default center" ng-controller="NavCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="/">
           <img alt="Brand" src="/images/Bookd-logo.png" style="width:50px;">
          </a>
        </div>
          <form ng-if="isLoggedIn()" class="navbar-form hidden-sm hidden-xs">
              <div class="row form-inline form-group">
                  <!--<div class="col">-->
            <span class=" input-group input-group-sm">
                <span class="input-group-addon" id="search">Find</span>
  			    <input class="form-control" aria-describedby="search" ng-model="query.term" placeholder="Barbershops">
            </span>
  			<span class="input-group input-group-sm">
                <span class="input-group-addon" id="near">Near</span>
				<input class="form-control" aria-describedby="near" g-places-autocomplete options="autocompleteOptions" ng-model="query.location">
	      		<span class="input-group-btn">
	    			<button class="btn btn-success" ng-click="search(query)" ng-disabled="query.term == undefined || query.location == undefined || query.term == '' || query.location == ''" type="submit">
                        <i ng-show="!fetchingQuery && !loadingLocation" style="height:20px; line-height:18px;" class="fa fa-search fa-fw"></i>
                        <i ng-show="fetchingQuery || loadingLocation" style="height:20px; line-height:18px;" class="fa fa-spinner"></i>
                    </button>
	  			</span>
  			</span>
                  <!--</div>-->
              </div>
          </form>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li ng-if="isLoggedIn()"><a href="/feed">Feed</a></li>
            <li ng-if="isLoggedIn()"><a href="/user/{{currentUser().username}}/profile">Profile</a></li>
            <li ng-if="isLoggedIn()" ng-click="openMessages('md')"><a href="">Messages <span class="badge">1</span></a></li>
            <!--<li class="hidden-sm hidden-md hidden-lg"><a href="/user/{{currentUser().username}}/profile">My Profile</a></li>-->
            <li class="hidden-sm hidden-md hidden-lg"><a href="/user/{{currentUser().username}}/account">Account</a></li>
            <li class="disabled hidden-sm hidden-md hidden-lg"><a  href="#">Preferences</a></li>
            <!--<li class="disabled hidden-sm hidden-md hidden-lg"><a href="#">Messages <span class="badge">1</span></a></li>-->
<!--             <li class="hidden-sm hidden-md hidden-lg"><a ng-if="currentUser().businessPage" href="/business/{{currentUser().businessPage}}"><i class="fa fa-tachometer"></i> Manage</a></li> -->
            <li class="hidden-sm hidden-md hidden-lg"><a ng-if="currentUser().businessOwner" href="/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li class="hidden-sm hidden-md hidden-lg" ng-if="currentUser().isAdmin"><a  href="/admin"><i class="fa fa-tasks"></i> Admin</a></li>
            <hr>
            <li class="hidden-sm hidden-md hidden-lg"><a ng-click="logOut()">Sign Out</a></li>
          </ul>
          <div class="navbar-inner">
            <ul class="nav navbar-nav navbar-right hidden-xs">
              <li class="dropdown" ng-show="isLoggedIn()" style="margin-right:10px;">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Welcome, {{currentUser().firstName}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <!--<li><a href="/user/{{currentUser().username}}/profile">My Profile</a></li>-->
                  <!--<hr>-->
                  <li><a href="/user/{{currentUser().username}}/account"><i class="fa fa-cog"></i> Account</a></li>
                  <li class="disabled"><a  href="#"><i class="fa fa-reorder"></i> Preferences</a></li>
                  <!--<li class="disabled"><a href="#"><i class="fa fa-inbox"></i> Messages <span class="badge">1</span></a></li>-->
<!--                   <li><a  ng-if="currentUser().businessPage" href="/business/{{currentUser().businessPage}}"><i class="fa fa-tachometer"></i> Manage</a></li> -->
                  <li><a  ng-if="currentUser().businessOwner" href="/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
                  <li ng-if="currentUser().isAdmin"><a  href="/admin"><i class="fa fa-tasks"></i> Admin</a></li>
                  <hr>
                  <li><a ng-click="logOut()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                </ul>
              </li>
              <li ng-hide="isLoggedIn()"><a href="/login"><i class="fa fa-sign-in"></i></span> Log In</a></li>
              <li ng-hide="isLoggedIn()"><a href="/register"><i class="fa fa-user"></i> Register</a></li>
            </ul>
          </div>
       </div>
      </div>
    </nav>
    <!-- <div class="container-fluid" style="margin-top:60px;"> -->
        <ui-view></ui-view>
    <!-- </div> -->
  </div>
  <!--
#########################################

Messages Modal

########################################
 -->
  <script type="text/ng-template" id="messagesModal.html">
      <div class="modal-header">
          <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
          <h1 class="modal-title text-center"> Messages </h1>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
          <button class="btn btn-warning" ng-click="cancel()">Close</button>
      </div>
  </script>
  <div id="footer" class="hidden-sm hidden-xs">
      <div class="container">
        <div style="margin-top:25px;" class="row">
          <div class="col hidden-sm hidden-xs col-md-3 col-md-offset-2">
            <h4 class="text-center">About</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tortor. Aliquam viverra, ex sed molestie auctor, velit est tempor augue, quis faucibus neque quam porttitor velit.</p>
            <!-- <p class="text-center text-muted credit">-Khalil Brown, footer coming soon!</p> -->
          </div>
          <div class="col hidden-sm hidden-xs col-md-3">
            <h4 class="text-center">Something</h4>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis eu odio at lorem auctor vulputate. Pellentesque tortor quam, tristique et justo ac, dictum elementum nibh.</p>
          </div>
          <div class="col chidden-sm hidden-xs col-md-3">
            <h4 class="text-center">Else</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tortor. Aliquam viverra, ex sed molestie auctor, velit est tempor augue, quis faucibus neque quam porttitor velit.</p>
          </div>
        </div>
      <div class="row">
          <div class="col-md-offset-5">
            <span class="text-center">&copy; Babble Technologies LLC. All rights reserved.</span>
          </div>
     </div>
      </div>
  </div>
</body>
</html>
