<html>
<head>
    <title>Book'd</title>
    <base href="/*">

    <script src="/javascripts/dist/app.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/images/favicon.ico">

    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK1BOzJxHB8pOFmPFufYdcVdAuLr_6z2U&libraries=places"></script>

    <!-- Bower files -->
    <script src="/moment/moment.js"></script>
    <link href="/fullcalendar/dist/fullcalendar.min.css" type="text/css" rel="stylesheet"/>
    <link href="/fullcalendar/dist/fullcalendar.print.css" media="print"/>
    <script src="/angular-ui-calendar/src/calendar.js"></script>
    <script src="/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="/angular-google-places-autocomplete/dist/autocomplete.min.css">
    <script src="/angular-google-places-autocomplete/dist/autocomplete.min.js"></script>
    <script src="/ngGeolocation/ngGeolocation.min.js"></script>
    <script src="/oauth-js/dist/oauth.js"></script>

    <script src="/ngmap/build/scripts/ng-map.min.js"></script>

    <link href="/stylesheets/animate.min.css" rel="stylesheet">

    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/partner.css" rel="stylesheet">
    <link href="/stylesheets/navbarStyles.css" rel="stylesheet">
    <!--&lt;!&ndash;<link href="/stylesheets/homepage.css" rel="stylesheet">&ndash;&gt;-->
    <link href="/stylesheets/business.css" rel="stylesheet">
</head>
<body ng-app="cc" ng-cloak>
<nav id="mainNav" class="navbar navbar-default navbar-static-top" ng-controller="NavCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" ng-click="showSearch(false)" href="/">
                <i style="color:white;" class="fa fa-2x fa-calendar"></i>
                <span style="color:white;font-size:25px;">Book'd</span>
            </a>
        </div>
        <form ng-if="isLoggedIn() && show" class="navbar-form hidden-md hidden-sm hidden-xs">
            <div class="row text-center form-inline form-group">
                <span class="left-inner-addon">
                        <i class="fa fa-building"></i>
                        <input class="form-control" aria-describedby="search" ng-model="query.term"
                               placeholder="Barbershops">
                    <!--</span>-->
                </span>
                <span class="left-inner-addon">
                    <i ng-show="!loadingLocation" class="fa fa-map-marker"></i>
                    <i ng-show="loadingLocation" class="fa fa-spinner fa-spin"></i>
                    <input class="form-control" aria-describedby="near" g-places-autocomplete
                           options="autocompleteOptions" ng-model="query.location">
                </span>
                <span>
                    <button class="btn btn-md sectionBtn" ng-click="search(query)"
                            ng-disabled="query.term == undefined || query.location == undefined || query.term == '' || query.location == ''"
                            type="submit">
                        <i style="color:white;" ng-show="fetchingQuery" class="fa fa-spinner fa-spin"></i>
                        <span ng-show="!fetchingQuery">Search</span>
                    </button>
                </span>
            </div>
        </form>
        <div class="uib-collapse navbar-collapse" uib-collapse="navbarCollapsed">
            <ul class="nav navbar-nav">
                <li ng-if="isLoggedIn()">
                    <a href="/feed" ng-click="navbarCollapsed = !navbarCollapsed;showSearch(true)" >
                        <i class="fa fa-home"></i> Feed
                    </a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg">
                    <a href="/appointments" ng-click="navbarCollapsed = !navbarCollapsed;showSearch(true)">
                        <i class="fa fa-calendar"></i> Calendar
                    </a>
                </li>
                <li ng-if="isLoggedIn() && currentUser.user.isAssociate">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;showSearch(false)" href="/user/{{currentUser.user._id}}/profile">
                        <i class="fa fa-user"></i> Profile
                    </a>
                </li>
                <li ng-if="isLoggedIn()" class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;showSearch(false)" href="/user/{{currentUser.user._id}}/account">
                        <i class="fa fa-cog"></i> Settings
                    </a>
                </li>
                <li ng-if="isLoggedIn()" class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;showSearch(false)" href="/favorites">
                        <i class="fa fa-bookmark"></i> Favorites
                    </a>
                </li>
                <li ng-if="currentUser.user.businessOwner" class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;showSearch(false)"  href="/dashboard">
                        <i class="fa fa-tachometer"></i> Dashboard
                    </a>
                </li>
                <li ng-if="currentUser.user.isAdmin" class="hidden-sm hidden-md hidden-lg"  >
                    <a ng-click="navbarCollapsed = !navbarCollapsed;showSearch(false)" href="/admin">
                        <i class="fa fa-tasks"></i> Admin
                    </a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg" ng-hide="isLoggedIn()">
                    <a ng-click="showSearch(false); open('login','landing')" href="">
                        <i class="fa fa-sign-in"></i></span> Log In
                    </a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg" ng-hide="isLoggedIn()">
                    <a ng-click="showSearch(false); open('signup','landing')" href="">
                        <i class="fa fa-user"></i> Sign Up
                    </a>
                </li>
                <hr>
                <li class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="logOut();navbarCollapsed = !navbarCollapsed">
                        LogOut
                    </a>
                </li>
            </ul>
            <!--
                User avatar and dropdown
            -->
            <div class="navbar-inner">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li uib-dropdown ng-show="isLoggedIn()">
                        <a href="" uib-dropdown-toggle><i class="fa fa-bell"></i>
                            <!--https://stackoverflow.com/questions/15316363/how-to-display-length-of-filtered-ng-repeat-data-->
                            <span class="badge">{{filteredAppts.length}}</span></a>

                        <div class="uib-dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                            <div class="notification-heading">
                                <h4 class="menu-title">Notifications</h4>
                                <h4 class="menu-title pull-right">View all<i class="fa fa-arrow-circle-right"></i></h4>
                            </div>
                            <span class="divider"></span>
                            <ul class="notifications-wrapper">
                                <li class="content"
                                    ng-repeat="appointment in filteredAppts = (currentUser.user.appointments.personalAppointments | notificationFilter)">
                                    <div class="notification-item">
                                        <p class="item-info">{{appointment.title}}</p>
                                        <h4 class="item-title">Appointment is {{appointment.dayDiff}} days away</h4>
                                    </div>
                                </li>
                            </ul>
                            <span class="divider"></span>
                            <div class="notification-footer"><h4 class="menu-title">View all<i class="fa fa-arrow-circle-right"></i></h4></div>
                        </div>
                    </li>
                    <li uib-dropdown ng-show="isLoggedIn()">
                        <a href="" uib-dropdown-toggle class=" avatarPadding">
                            <img class="navbarAvatar" ng-if="!currentUser.user.avatarVersion && currentUser.user.provider =='bookd'" ng-src="{{cloudinaryDefaultPic}}"/>
                            <img class="navbarAvatar" ng-if="currentUser.user.avatarVersion && currentUser.user.provider =='bookd'"  ng-src="{{cloudinaryBaseUrl}}{{currentUser.user.avatarVersion}}/profile/{{currentUser.user._id}}"/>
                            <img class="navbarAvatar" ng-if="currentUser.user.provider == 'google_plus'"  ng-src="{{currentUser.providerInfo}}"/>
                            <img class="navbarAvatar" ng-if="currentUser.user.provider == 'facebook'"  ng-src="{{currentUser.providerInfo}}"/>
                            {{currentUser.user.name}}
                        </a>
                        <ul class="uib-dropdown-menu">
                            <li>
                                <a href="/appointments" ng-click="showSearch(true)">
                                    <i class="fa fa-calendar"></i> Calendar
                                </a>
                            </li>
                            <li>
                                <a href="/favorites" ng-click="showSearch(false)">
                                    <i class="fa fa-bookmark"></i> Favorites
                                </a>
                            </li>
                            <li>
                                <a ng-if="currentUser.user.businessOwner" ng-click="showSearch(false)" href="/dashboard">
                                    <i class="fa fa-tachometer"></i> Dashboard
                                </a>
                            </li>
                            <li ng-if="currentUser.user.isAdmin">
                                <a href="/admin" ng-click="showSearch(false)">
                                    <i class="fa fa-tasks"></i> Admin
                                </a>
                            </li>
                            <li>
                                <a href="/user/{{currentUser.user._id}}/account" ng-click="showSearch(false)">
                                    <i class="fa fa-cog"></i> Settings
                                </a>
                            </li>
                            <hr>
                            <li>
                                <a ng-click="logOut()">
                                    <i class="fa fa-sign-out"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-hide="isLoggedIn()"><a href="" ng-click="open('login','landing')"><i class="fa fa-sign-in"></i> Log In</a></li>
                    <li ng-hide="isLoggedIn()"><a href="" ng-click="open('signup','landing')"><i class="fa fa-user"></i> Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<ui-view></ui-view>
<!--
#########################################

Messages Modal

########################################
-->
<script type="text/ng-template" id="messagesModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h1 class="modal-title text-center"> Notifications </h1>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</script>
</body>
</html>
