<html>
<head>
  <title>ClientConnect</title>


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="/javascripts/vendor/jquery-2.1.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.js"></script>
  <script src="/javascripts/angularApp.js"></script>

  <script src="/javascripts/controllers/main-controller.js"></script>
  <script src="/javascripts/controllers/auth-controller.js"></script>
  <script src="/javascripts/controllers/nav-controller.js"></script>
  <script src="/javascripts/controllers/profile-controller.js"></script>
  <script src="/javascripts/controllers/landing-controller.js"></script>
  <script src="/javascripts/controllers/modal-controller.js"></script>
  <script src="/javascripts/controllers/account-controller.js"></script>
  <script src="/javascripts/controllers/bizlist-controller.js"></script>
  <script src="/javascripts/controllers/business-controller.js"></script>

  <script src="/javascripts/services/auth-factory.js"></script>
  <script src="/javascripts/services/business-factory.js"></script>
  <script src="/javascripts/services/user-factory.js"></script>
  <script src="/javascripts/services/location-factory.js"></script>

  <script src="/javascripts/services/yelp-service.js"></script>

  <script src="/javascripts/vendor/angular-file-upload.min.js"></script>
  <script src="/javascripts/directives/thumb-directive.js"></script>
  <script src="/javascripts/vendor/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script src="/javascripts/vendor/jquery.cloudinary.js"></script>
  <script src="/javascripts/vendor/angular.cloudinary.js"></script>
  <script src="/javascripts/vendor/calendar.js"></script>
  
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="/javascripts/vendor/autocomplete.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/autocomplete.min.css"/>

  <script src="/javascripts/vendor/ngGeolocation.min.js"></script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

  <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>
<script>
$.cloudinary.config({
    cloud_name:'dvvtn4u9h'
})
</script>
<body ng-app="cc">
  <div id="wrap">
    <nav class="navbar navbar-default center navbar-fixed-top" ng-controller="NavCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#/">ClientConnect</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li ng-if="isLoggedIn()"><a href="#/home">Home</a></li>
            <li ng-if="isLoggedIn()" class="disabled"><a href="#">Services</a></li>
            <!-- <li ng-if="isLoggedIn()"><a href="#/jobs">Jobs</a></li> -->
            <li><a href="#/about">About</a></li>
            <li><a href="#/contactUs">Contact</a></li>
            <li class="hidden-sm hidden-md hidden-lg"><a href="#/user/{{currentUser()._id}}/profile">My Profile</a></li>
            <li class="hidden-sm hidden-md hidden-lg"><a href="#/user/{{currentUser()._id}}/account">Account</a></li>
            <li class="disabled hidden-sm hidden-md hidden-lg"><a  href="#">Preferences</a></li>
            <li class="disabled hidden-sm hidden-md hidden-lg"><a href="#">Messages <span class="badge">1</span></a></li>
            <hr>
            <li class="hidden-sm hidden-md hidden-lg"><a ng-click="logOut()">Sign Out</a></li>
          </ul>
          <div class="navbar-inner">
            <ul class="nav navbar-nav hidden-xs">
              <div ng-if="isLoggedIn()" class="input-group" style="width:300px; margin-top:8px;">
                <div class="input-group">
                  <input class="form-control" g-places-autocomplete options="autocompleteOptions" ng-model="place" placeholder="Location">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button">
                      <i style="height:20px; line-height:18px;"class="fa fa-search fa-fw"></i>
                    </button>
                  </span>
                </div>
              </div>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
              <li class="dropdown" ng-show="isLoggedIn()" style="margin-right:10px;">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Welcome, {{currentUser().username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/user/{{currentUser()._id}}/profile">My Profile</a></li>
                  <hr>
                  <li><a href="#/user/{{currentUser()._id}}/account"><i class="fa fa-cog"></i> Account</a></li>
                  <li class="disabled"><a  href="#"><i class="fa fa-reorder"></i> Preferences</a></li>
                  <li class="disabled"><a href="#"><i class="fa fa-inbox"></i> Messages <span class="badge">1</span></a></li>
                  <hr>
                  <li><a ng-click="logOut()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                </ul>
              </li>
              <li ng-hide="isLoggedIn()"><a href="/#/login"><i class="fa fa-sign-in"></i></span> Log In</a></li>
              <li ng-hide="isLoggedIn()"><a href="/#/register"><i class="fa fa-user"></i> Register</a></li>
            </ul>
          </div>
       </div>
      </div>
    </nav>
    <div class="container-fluid" style="margin-top:60px;">
        <ui-view></ui-view>
    </div>
  </div>
  <div id="footer">
      <div class="container">
        <div style="margin-top:25px;" class="row">
          <div class="col" >
            <p class="text-center text-muted credit">-Khalil Brown, footer coming soon!</p>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
