<!DOCTYPE html>
<html class="full" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BUZ</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <link href="/stylesheets/landing.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div id="landingHeader" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/images/Buz_Logotype.png" style="height:30px;width:90px;"/>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <!--<a href="about.ejs">About</a>-->
                </li>
                <li>
                    <!--<a href="#">Services</a>-->
                </li>
                <li>
                    <!--<a href="#">Contact</a>-->
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 hidden-md hidden-lg">
            <img src="/images/screens.png" style="height: 100%; width: 100%;" class="center-block">
        </div>
    </div>
    <div class="row" style="margin-top:50px;">
        <div class="col-xs-12 col-md-7">
            <p class="welcome-text">Welcome</p>
            <p class="sub-text">Thank you for your
                interest in our beta program.</p>
            <p class="paragraph-text">BUZ is the premiere mobile and web app that makes it simple to book your next
                barber appointment. Our goal
                is to streamline the barbershop experience and drive traffic to local barbers in the most efficient way
                possible. </p>
            <p class="paragraph-text">Try us out today, for free.</p>
        </div>
        <div class="col-md-5 hidden-sm hidden-xs">
            <img src="/images/screens.png" style="height: 100%; width: 100%;" class="center-block">
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <form action="/beta/sign-up" method="POST">
                <div class="radio-toolbar" id="radio-toolbar" data-toggle="popover" data-trigger="focus"
                     data-content="Please make a selection" data-placement="top">
                    <p class="customerSelection">I'm a:
                        <input type="radio" id="barber" name="userType" value="barber" required>
                        <label for="barber">Barber</label>
                        <input type="radio" id="shopOwner" name="userType" value="shopOwner">
                        <label for="shopOwner">Shop Owner</label>
                        <input type="radio" id="client" name="userType" value="client">
                        <label for="client">Client</label>
                    </p>
                </div>
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="Enter your email address." required>
                    <span class="input-group-btn">
                        <button id="submitBtn" class="btn" type="submit"><span
                                    class="fa fa-angle-right fa-2x enter-arrow"></span></button>
                      </span>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.facebook.com/buzapp.me"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/buzapp.me"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="https://twitter.com/buzappme"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4  col-md-4">
                <span class="copyright">Copyright &copy; BUZ, Inc. All Rights Reserved.</span>
            </div>
            <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-3 col-md-4 col-md-offset-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/beta/about" data-toggle="tooltip" title="test">About</a>
                    </li>
                    <li><a style="font-size:15px;" href="mailto:hello@buzapp.me">&#128273; hello@buzapp.me</a>
                    </li>
                    <!--<li><a ui-sref="">Privacy</a>-->
                    <!--</li>-->
                    <!--<li><a ui-sref="">Terms</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function () {
        $("#submitBtn").click(function () {
            if (!$("input[name='userType']:checked").val()) {
                $("#radio-toolbar").popover('show');
                setTimeout(function () {
                    $("#radio-toolbar").popover('hide')
                }, 5000);
            }
            else {
                $("#radio-toolbar").popover('hide');
            }
        })
    })
</script>
</body>
</html>
