<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <img class="text-center" src="/images/BuzTm.jpg" style="height:200px; width:200px;">
        </div>
        <h1 class="text-center">Thanks for signing up, we'll be in touch!</h1>
    </div>
</div>
