<!DOCTYPE html>
<html class="full" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/landing.css" rel="stylesheet" type="text/css"/>
</head>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
        <a href="/">
            <img class="text-center" class="success-logo" src="/images/buz-logo-only.png">
        </a>
        </div>
        <h1 class="text-center">Thank you. We’ll be in touch!</h1>
    </div>
</div>
