.employee-search {
    margin-bottom: 1em;
}

.map-container {
    height: 30em;
}

.hours-list {
    list-style: none;
}

.provider-photo-radius {
    border-radius: 5%;
}

.associate-margin-left {
    margin-left: 40px;
}