.employee-search {
    margin-bottom: 1em;
}

.map-container {
    height: 30em;
}

.hours-list {
    list-style: none;
}

.provider-photo-radius {
    border-radius: 14px;
}
.services-associates-block {
    margin-top: 10px;
}
.associate-margin-left {
    margin-left: 40px;
}

.service-panel-footer {
    padding: 0px;
}

.service-panel-footer button {
    border-radius: 0%;
}

.service-panel-body {
    min-height: 120px;
    max-height: 120px;
}