@font-face {
    font-family: GothamRegular;
    src: url(/public/fonts/GothamBook.woff);
}

@font-face {
    font-family: GothamBook;
    src: url(/public/fonts/Gotham-Book.woff);
}

span.navbar-brand {
    font-family: GothamRegular;
    font-size: 35pt;
    color: #445160;
    border-bottom: 1px solid darkgrey;
}

.navbar-static-top {
    border-bottom: 1px solid lightgrey;
}

body {
    color: #445160;
    /*margin-top: 75px; !* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. *!*/
    /*padding-bottom: 90px;*/
}

/*.page-wrap:after{*/
/*content:"";*/
/*display:block;*/
/*}*/
.welcome-text {
    letter-spacing: 2px;
    font-family: "Avenir Next";
    font-size: 15pt;
    text-transform: uppercase;
}

.sub-text {
    letter-spacing: 2px;
    font-family: "Avenir Next";
    text-transform: uppercase;
    font-size: 25pt;
    font-weight: 400;

}

.paragraph-text {
    letter-spacing: 2px;
    font-family: "Avenir Next";
    font-size: 15pt;
    font-weight: 300;
}

.email-text {
    font-family: "Helvetica Neue Light";
    font-size: 28pt;
}

.information-text {
    font-family: "Helvetica Neue";
    font-size: 22pt;
}

/*.site-footer, .page-wrap:after {*/
/*height: 50px;*/
    /*color: white;*/
/*}*/

.customerSelection {
    padding-top: 3px;
}

input {
    display: block;
    width: 100%;
    height: 34px;
    /*padding: 6px 12px;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgrey;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa {
    left: 0px;
    font-size: 20px;
}

.right-addon .fa {
    right: 0px;
    font-size: 20px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#footer {
    /*position: fixed;*/
    margin-top: 60px;
    left: 0px;
    bottom: 0px;
    height: 70px;
    width: 100%;
}

/* IE 6 */
* html #footer {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.radio-toolbar input[type=radio] {
    display: none;
}

.radio-toolbar label {
    margin-left: 25px;
    color: lightgrey;
}

label:hover, label:active, input:hover + label, input:active + label {
    color: #445160;
    cursor: pointer;
}

.radio-toolbar input[type=radio]:checked + label {
    color: #445160;
}

#submitBtn {
    background-color: #445160;
    color: white;
    font-family: "Avenir Next";
}