@font-face {
    font-family: 'Gotham';
    /*src: url(/public/fonts/GothamBook.ttf);*/
}

@font-face {
    font-family: 'Gotham Book';
    /*src: url(/public/fonts/Gotham-Book.ttf);*/
}

a.navbar-brand {
    border-bottom: 1px solid darkgrey;
    padding-right: 0px;
    padding-left: 0px;
}

@media (max-width: 765px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 13px !important;
    }
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 1px;
}
.navbar-static-top {
    border-bottom: 1px solid lightgrey;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 70px;
    color: #445160;
}

.welcome-text {
    letter-spacing: 2px;
    font-family: "Avenir Next";
    font-size: 15pt;
    text-transform: uppercase;
}

.sub-text {
    letter-spacing: 2px;
    font-family: "Avenir Next";
    text-transform: uppercase;
    font-size: 25pt;
    font-weight: 400;

}

.paragraph-text {
    letter-spacing: 1px;
    font-family: "Avenir Next";
    font-size: 15pt;
    color: #445160;
}

.email-text {
    font-family: "Helvetica Neue Light";
    font-size: 28pt;
}

.information-text {
    font-family: "Helvetica Neue";
    font-size: 22pt;
}

.customerSelection {
    padding-top: 3px;
}

input {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgrey;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa {
    left: 0px;
    font-size: 20px;
}

.right-addon .fa {
    right: 0px;
    font-size: 20px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.footer {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
}
.radio-toolbar input[type=radio] {
    display: none;
}

.radio-toolbar label {
    margin-left: 25px;
    color: lightgrey;
}

label:hover, label:active, input:hover + label, input:active + label {
    color: #445160;
    cursor: pointer;
    border-bottom: 1px solid;
}

.radio-toolbar input[type=radio]:checked + label {
    color: #445160;
    border-bottom: 1px solid;
}

.fa-twitter:before {
    cursor: pointer;
    color: #445160;
}

.fa-instagram:before {
    cursor: pointer;
    color: #445160;
}

.fa-facebook:before {
    cursor: pointer;
    color: #445160;
}

.enter-arrow {
    color: #445160;
}

#submitBtn {
    background-color: transparent;
    font-family: "Avenir Next";
}

span.copyright {
    color: grey;
}

.about-text {
    font-size: 16px;
    line-height: 2.0;
}

a {
    color: #445160;
}

.success-logo {
    height: 100px;
    width: 100px;
    margin-top: 2em;
}

.col-centered {
    float: none;
    margin: 0 auto;
}