/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/
/*html, body {*/
    /*height: 100%;*/
/*}*/

a {
    color: #00B7FF;
}

h1 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
}

h2, h3, h4, h5, h6 {
    font-family: "Abel", Arial, sans-serif;
    /*font-size: 40px;*/
}

body {
    font-family: "Lucida Grande", Arial, sans-serif;
    /*font-weight: 400;*/
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Set the fixed height of the footer here */
#footer {
    height: 220px;
    color: white;
    background-color: black;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0;
    left: 0;
    height: 85%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}
.carousel-caption {
    margin-bottom: 200px;
}

#landingBody {
    font-size: 16px;
    font-family: "Open Sans", serif;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
}

.panel {
    background-color: rgba(255, 255, 255, 0.9);
}

.coverrTitle h3 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    color: white;
}

.coverrTitle h1 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: white;
}

.margin-base-vertical {
    margin: 40px 0;
}

.landingSection {
    height: 200px;
}

.landingSection #firstSection {
    margin-top: 10px;
}



/*.contentBox{
  height:250px;
  overflow: scroll;
}*/

i.fa.fa-spinner {
    display: inline-block;
}

span.tab-space {
    padding-left: 1em;
}

span.tab-space {
    padding-left: 1em;
}

.adjustMargins {
    margin-bottom: 5px;
    margin-right: 15px;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0;
    padding: 10px 12px;
    pointer-events: none;
}

.reviewBox {
    height: 200px;
    overflow-y: scroll;
}

.dropZoneHover {
    border-color: green;
}
.dropdown {
    display:inline-block;
    margin-left:20px;
    /*padding:10px;*/
}
.notifications {
    min-width:420px;
}

.notifications-wrapper {
    overflow:auto;
    max-height:250px;
    list-style: none;
}

.menu-title {
    color:#78bbee;
    font-size:1.5rem;
    display:inline-block;
}

.fa-arrow-circle-right {
    margin-left:10px;
}


.notification-heading, .notification-footer  {
    padding:2px 10px;
}


.dropdown-menu.divider {
    margin:5px 0;
}

.item-title {
    font-size:1.3rem;
    color:#000;

}

.notifications a.content {
    text-decoration:none;
    background:#ccc;

}

.notification-item {
    padding:10px;
    margin:5px;
    background:#ccc;
    border-radius:4px;
}

hr {
    max-width: 50px;
    border-color: #337ab7;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #337bc1;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #78bbee;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}
.sectionBtn{
    background-color: #f05f40;
    color:white;
}
.bg-primary {
    background-color: #337ab7;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.section-heading {
    margin-top: 0;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}
.service-box h3{
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #337ab7;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.btn-xl {
    padding: 15px 30px;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.YCbtn a {
    color: #f26522;
}
timer span{
    color:red;
}

img.fitContainer {
    width: 100%;
}

.well.employeeHover:hover {
    background-color: aliceblue;
}