.carousel-indicators {
    visibility: hidden;
}

.carousel-control {
    visibility: hidden;
}

.slider-image {
    width: 100%;
    min-height: 525px;
    max-height: 525px;
    object-fit: cover;
}

a {
    color: #00B7FF;
}

h1 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
}

h2, h3, h4, h5, h6 {
    font-family: "Abel", Arial, sans-serif;
}

body {
    font-family: "Lucida Grande", Arial, sans-serif;
}
.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Set the fixed height of the footer here */
#footer {
    height: 220px;
    color: white;
    background-color: black;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.carousel-caption {
    margin-bottom: 200px;
}

#landingBody {
    font-size: 16px;
    font-family: "Open Sans", serif;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
}

.panel {
    background-color: rgba(255, 255, 255, 0.9);
}

.coverTitle h3 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    color: white;
}

.coverTitle h1 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: white;
}

.margin-base-vertical {
    margin: 40px 0;
}

.landingSection {
    height: 200px;
}

.landingSection #firstSection {
    margin-top: 10px;
}

i.fa.fa-spinner {
    display: inline-block;
}

span.tab-space {
    padding-left: 1em;
}

span.tab-space {
    padding-left: 1em;
}

.adjustMargins {
    margin-bottom: 5px;
    margin-right: 15px;
}

.left-inner-addon input {
    color: black !important;
    padding-left: 30px;
}

.left-inner-addon i {
    z-index: 999;
    color: black !important;
    position: absolute;
    padding: 10px 10px;
    pointer-events: none;
}

.left-inner-addon-landing i {
    padding-top: 16px;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0;
    padding: 10px 12px;
    pointer-events: none;
}

.reviewBox {
    padding: 10px;
    border-radius: 5%;
    background-color: #f7f7f7;
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

.dropZoneHover {
    border-color: green;
}

.dropdown {
    display: inline-block;
    margin-left: 20px;
}

.notifications {
    min-width: 420px;
}

.notifications-wrapper {
    overflow: auto;
    max-height: 250px;
    list-style: none;
    padding-left: 0px;
}

.menu-title {
    color: #78bbee;
    font-size: 1.5rem;
    display: inline-block;
}

.fa-arrow-circle-right {
    margin-left: 10px;
}

.notification-heading, .notification-footer {
    padding: 2px 10px;
}

.dropdown-menu.divider {
    margin: 5px 0;
}

.item-title {
    font-size: 1.3rem;
    color: #000;

}

.notifications a.content {
    text-decoration: none;
    background: #ccc;

}

.notification-item {
    color: black;
    padding: 10px;
    margin: 5px;
    background: #e9eaed;
    border-radius: 4px;
}

.notification-timestamp {
    margin-bottom: 0;
    margin-top: 18px;
}

.notification-link {
    margin-top: 13px;
}

#calendarLink {
    color: #337ab7;
}

hr {
    max-width: 50px;
    border-color: #337ab7;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

hr.full {
    border-color: #337ab7;
    max-width: 100%;
}

a {
    color: #337bc1;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #78bbee;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.sectionBtn {
    background-color: #f05f40;
    color: white;
}

.bg-primary {
    background-color: #337ab7;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255, 255, 255, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.section-heading {
    margin-top: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

.service-box p {
    margin-bottom: 0;
}

.service-box h3 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #337ab7;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-xl {
    padding: 15px 30px;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

timer span {
    color: red;
}

img.fitContainer {
    width: 100%;
}

.well.employeeHover {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

.well.employeeHover img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.well.employeeHover:hover {
    background-color: aliceblue;
}

.fa-spinner.ng-hide-add-active {
    display: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white
}

header .intro-text {
    padding-top: 200px;
    padding-bottom: 100px
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 15px;
    color: white;
}

header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px
}

.bg-color-white {
    background-color: white;
}

.btn-faded-green {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,52b152+56,83c783+100 */
    background: #b4ddb4; /* Old browsers */
    border-color: #b4ddb4;
    background: -moz-linear-gradient(top, #b4ddb4 0%, #52b152 56%, #83c783 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b4ddb4 0%, #52b152 56%, #83c783 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b4ddb4 0%, #52b152 56%, #83c783 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#83c783', GradientType=0); /* IE6-9 */

}

.btn-gradient-green {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,24af24+56,83c783+100 */
    background: #b4ddb4; /* Old browsers */
    border-color: #b4ddb4;
    background: -moz-linear-gradient(top, #b4ddb4 0%, #24af24 56%, #83c783 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b4ddb4 0%, #24af24 56%, #83c783 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b4ddb4 0%, #24af24 56%, #83c783 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#83c783', GradientType=0); /* IE6-9 */
}

.btn-gradient-success {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,24af24+56,83c783+100 */
    background: #b4ddb4; /* Old browsers */
    border-color: #b4ddb4;
    background: -moz-linear-gradient(top, #b4ddb4 0%, #24af24 56%, #83c783 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b4ddb4 0%, #24af24 56%, #83c783 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b4ddb4 0%, #24af24 56%, #83c783 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#83c783', GradientType=0); /* IE6-9 */
}

.btn-gradient-blue {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f87e2+0,7db9e8+100 */
    background: #0f87e2; /* Old browsers */
    border-color: #0f87e2;
    background: -moz-linear-gradient(top, #0f87e2 0%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0f87e2 0%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0f87e2 0%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f87e2', endColorstr='#7db9e8', GradientType=0); /* IE6-9 */
}

.btn-gradient-primary {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f87e2+0,7db9e8+100 */
    background: #0f87e2; /* Old browsers */
    border-color: #0f87e2;
    background: -moz-linear-gradient(top, #0f87e2 0%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0f87e2 0%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0f87e2 0%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f87e2', endColorstr='#7db9e8', GradientType=0); /* IE6-9 */
}

.btn-gradient-yellow {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    border-color: #fefcea;
    background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f1da36', GradientType=0); /* IE6-9 */
}

.btn-gradient-warning {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    border-color: #fefcea;
    background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f1da36', GradientType=0); /* IE6-9 */
}

.btn-gradient-red {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cf0404+0,ff3019+30,ff3019+75,cf0404+100 */
    background: #cf0404; /* Old browsers */
    background: -moz-linear-gradient(top, #cf0404 0%, #ff3019 30%, #ff3019 75%, #cf0404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cf0404 0%, #ff3019 30%, #ff3019 75%, #cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cf0404 0%, #ff3019 30%, #ff3019 75%, #cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf0404', endColorstr='#cf0404', GradientType=0); /* IE6-9 */
}

.btn-gradient-danger {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cf0404+0,ff3019+30,ff3019+75,cf0404+100 */
    background: #cf0404; /* Old browsers */
    background: -moz-linear-gradient(top, #cf0404 0%, #ff3019 30%, #ff3019 75%, #cf0404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cf0404 0%, #ff3019 30%, #ff3019 75%, #cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cf0404 0%, #ff3019 30%, #ff3019 75%, #cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf0404', endColorstr='#cf0404', GradientType=0); /* IE6-9 */
}

.search {
    margin-bottom: 1em;
}

.forgot-pass-container {
    padding-top: 1em;
}

.forgot-pass-container .forgot-pass {
    cursor: pointer;
}

.searchResults {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 0;
    padding-left: 5px
}

.searchResults a {
    color: black;
}

.searchResults a:hover {
    color: #0f87e2;
}

.searchResults a:link {
    text-decoration: none;
}

#single-button {
    z-index: 999;
}

.switch-business-dropdown {
    margin-left: 0;
}

.dashboard-panel {
    padding-right: 0;
}

.dashboard-panel-list {
    padding: 0;
    list-style: none;
}

.dashboard-panel-services {
    font-size: 15px;
}

.dashboard-business-info {
    margin-top: 30px;
}

.dashboard-content {
    margin-top: 25px;
}

.dashboard-header {
    border: none;
}

.dashboard-panel-content {
    padding: 10px;
    min-height: 300px;
    max-height: 500px;
    overflow-y: scroll;
}

.cal-dashboard-panel-content {
    padding-left: 0;
    max-height: 250px;
    overflow-y: scroll;
}

.dashboard-panel-footer {
    padding: 0;
}

.dashboard-panel-footer button {
    margin-top: 10px;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dashboard-panel-body .panel-body {
    padding: 0;
}

.dashboard-cal-service {
    height: 50px;
}

#dashboard-cal-service-list h5 {
    line-height: 27px;
    margin-bottom: 0;
    padding-left: 45px;
}

.service-hr {
    margin-top: 10px;
}

/**
Hack so the table styles load before we're on the page
**/
#pricing {
    width: 970px;
    float: none;
    margin: 0 auto
}

#pricing table {
    margin: 40px 0;
    width: 100%;
    border: 10px solid grey;
}

#pricing th {
    height: 50px;
    text-align: center;
    background-color: #EEE;
}

#pricing table tr .column-first {
    padding: 10px;
}

#pricing table tr .column-second {
    text-indent: 0;
    text-align: center;
    padding: 10px;
}

#pricing table tr .column-three {
    text-align: center;
    text-indent: 0;
}

#pricing table tr:nth-child(2n) {
    background-color: #EEE;
}

.center-screen {
    margin-top: -50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#reset-container {
    box-shadow: rgba(14, 41, 57, 0.117647) 0px 0px 0px 1px, rgba(14, 41, 57, 0.439216) 0 2px 5px 0, rgba(14, 41, 57, 0.14902) 0 -1px 2px 0 inset;
    min-height: 250px;
    position: relative;
    width: 350px;
    perspective-origin: 165px 132px;
    transform-origin: 165px 132px;
    background: rgba(0, 0, 0, 0) linear-gradient(rgb(255, 255, 255), rgb(242, 246, 249)) repeat scroll 0 0 / auto padding-box border-box;
    border-radius: 6px 6px 6px 6px;
    font: normal normal normal normal 16px / normal 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 555px;
}

#reset-container .reset-button {
    margin-top: 2em;
    margin-bottom: 1em;
}

.truncate {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -90px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 90px; /* .push must be the same height as .footer */
}

.background {
    background-color: lightgray;
}

.fc-event {
    cursor: pointer;
}

.email-success {
    background-color: rgb(92, 184, 92);
    color: white;
}

#loading-bar {
    z-index: 999;
}

#loading-bar-spinner {
    display: none;
}

@media (min-width: 768px) {
    header {
        margin-top: 0;
    }

    header .carousel {
        height: auto;
    }

    header .intro-text {
        padding-top: 170px;
        padding-bottom: 200px
    }

    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: 900;
        line-height: 40px;
        margin-bottom: 25px;
        color: white;
    }

    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px
    }

    .nav-container {
        background-color: transparent;
    }
}

@media (min-width: 992px) {
    .service-box {
        margin: 20px auto 0;
    }
}