/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/
html,body{
	height:100%;
}
/*.body-wrap{
  padding-top:65px;
}*/
a {
  color: #00B7FF;
}
h1{
	font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.disabled {
  opacity: .5;
  cursor: not-allowed;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 220px;
  color:white;
  background-color: black;
}

.navbar.center .navbar-inner{
  text-align: center;
}
.navbar.center .navbar-inner .nav{
  float:none;
  display:inline-block;
}
.navbar{
  margin-bottom: 0px;
}
/*.contentBox{
  height:250px;
  overflow: scroll;
}*/
span.tab-space {padding-left:1em;}