.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    padding-top: 19px;
    height: 50px;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    border-bottom: none;
    color: white;
}
.navbarAvatar {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.avatarPadding {
    padding-top: 16px !important;
    /*padding-bottom: 20px !important;*/
}

.uib-dropdown-menu a {
    color: white;
}

.navbar-default.navbar-shrink .nav .droplinks li a {
    color: black;
}

.navbar-default.navbar-shrink .nav .droplinks li a i {
    color: black;
}
.navbar-default .navbar-header .navbar-brand {
    color: white;
}

.navbar-default.navbar-shrink .navbar-header .navbar-brand:hover {
    color: #f05f40;
}

.navbar-default.navbar-shrink .navbar-header .navbar-brand {
    color: white;
}

.navbar-default.navbar-shrink .nav li a:hover {
    color: #337ab7;
}
.partnerBox {
    border: 1px solid white;
}

h3, h4, h5, h6 {
    font-family: "Abel", arial, sans-serif;
}

.navbar-default.navbar-shrink .nav li > a > i > span {
    color: white !important;
}
.landing-notification-bell > a:hover i {
    color: #337ab7;
}

.landing-notification-bell .badge {
    background-color: transparent;
}

.landing-notification-bell a > i {
    color: white;
}

.landing-notification-bell > .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 90%;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.avatar > .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 70%;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.full-width {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}
