<div class="container-fluid">
  <div class="page-header">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Profile Info</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="form-group col-sm-4">
                    <div nv-file-drop="" uploader="uploader" removeAfterUpload="true" >
                        <div nv-file-over="" uploader="uploader" style="border-style:dashed;border-width:5px;" over-class="dropZoneHover" class="well my-drop-zone text-center" >
                            <img ng-if="!currentUser.user.avatarVersion && currentUser.user.provider =='bookd'" ng-src="{{cloudinaryDefaultPic}}"/>
                            <img ng-if="currentUser.user.avatarVersion && currentUser.user.provider == 'bookd'"  ng-src="{{cloudinaryBaseUrl}}{{currentUser.user.avatarVersion}}/profile/{{currentUser.user._id}}"/>
                            <img ng-if="currentUser.user.provider == 'google_plus'"  ng-src="{{currentUser.providerInfo}}"/>
                            <img ng-if="currentUser.user.provider == 'facebook'"  ng-src="{{currentUser.providerInfo}}"/>
                            <div class="text-center" style="margin-top:10px;">Drag Drop Your Photo</div>
                            <div>OR</div>
                            <input class="form-control" type="file" nv-file-select uploader="uploader" removeAfterUpload="true">
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-4 text-center">
                      <h3>{{currentUser.user.name}}</h3>
                      <h4>{{currentUser.user.email}}</h4>
                      <br>
                      Rating: {{currentUser.user.rating}}
                      <br>
                  </div>
                  <div class="col-sm-4 text-center">
                      <div class="checkbox" tooltip-placement="top" tooltip-toggle="mouseenter" tooltip="If you are an Associate at a Book'd partners' registered business click here to see the Associate Panel.">
                          <label>
                              <input ng-model="currentUser.user.isAssociate" value="true" type="checkbox"> Show Associate Panel
                          </label>
                      </div>
                  </div>
              </div>
                  <form style="margin-top:30px;">
                      <div ng-show="showLoader" class="row">
                          <div class="col-md-6">
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th width="50%">Name</th>
                                      <th ng-show="uploader.isHTML5">Size</th>
                                      <th ng-show="uploader.isHTML5">Progress</th>
                                      <th>Status</th>
                                      <th>Actions</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr ng-repeat="item in uploader.queue">
                                      <td>
                                          <!-- <strong>{{ item.file.name }}</strong> -->
                                          <!-- <div ng-thumb="{ file: item.file, width: 100 }"></div> -->
                                          <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                          <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                      </td>
                                      <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                      <td ng-show="uploader.isHTML5">
                                          <div class="progress" style="margin-bottom: 0;">
                                              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                          </div>
                                      </td>
                                      <td class="text-center">
                                          <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                          <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                          <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                      </td>
                                      <td nowrap>
                                          <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                              <span class="glyphicon glyphicon-upload"></span> Upload
                                          </button>
                                          <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                          </button>
                                          <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                              <span class="glyphicon glyphicon-trash"></span> Remove
                                          </button>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </form>

          </div>
      </div>
      <div class="panel panel-default" ng-show="currentUser.user.isAssociate">
          <div class="panel-heading">
              Associate Panel
          </div>
          <div class="panel-body">
              <div class="col-sm-12">
                  <div class="col-sm-5">
                  <h3 class="control-label">Weekly Availability: <i ng-show="showLoading" tooltip="Updating.." class="fa fa-spinner fa-pulse text-center pull-right"></i><i ng-show="showDone" tooltip="Availability Updated" class="fa fa-check-square-o text-success text-center pull-right"></i></h3>
                  <form class="form-horizontal">
                      <div class="form-group">
                          <accordion>
                              <accordion-group ng-repeat="day in currentUser.user.availability track by $index" is-open="status.open">
                                  <accordion-heading>
                                      <i ng-show="day.available" tooltip="Available" class="fa fa-check text-success"></i><i ng-show="!day.available" tooltip="Unavailable" class="fa fa-check text-danger"></i> {{day.day}}<span ng-show="day.available">, {{day.start | date:'hh:mm a'}} - {{day.end | date:'hh:mm a'}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                  </accordion-heading>
                                  <div class="checkbox text-center" tooltip-toggle="mouseenter" tooltip="Are you available on {{day.day}}'s">
                                      <label>
                                          <input ng-model="day.available" type="checkbox"> Available
                                      </label>
                                  </div>
                                  <div class="col-xs-6">
                                      Start:<timepicker ng-model="day.start" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                      End:<timepicker ng-model="day.end" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                  </div>
                                  <div class="col-xs-6">
                                      <h3>Breaks: <a ng-click="addBreak(day)" class="btn btn-success"><i class="fa fa-plus"></i></a></h3>
                                      <accordion>
                                          <accordion-group ng-repeat="gap in day.gaps track by $index">
                                              <accordion-heading>
                                                  <span ng-show="gap.start">{{gap.start | date:'hh:mm a'}} - {{gap.end | date:'hh:mm a'}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': breakStatus, 'glyphicon-chevron-right': !breakStatus}"></i>
                                              </accordion-heading>
                                              <div class="col-xs-6">
                                                  Start:<timepicker ng-model="gap.start" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                                  End:<timepicker ng-model="gap.end" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                              </div>
                                          </accordion-group>
                                      </accordion>
                                  </div>
                              </accordion-group>
                          </accordion>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-offset-4 col-sm-4">
                              <button type="submit" class="btn btn-primary" ng-click="updateAvailability(currentUser.user.availability)">Update Availability</button>
                          </div>
                      </div>
                  </form>
                  </div>
                  <!--<div class="col-sm-7 text-center">-->
                      <!--<h3 class="control-label">Schedule Blocks: <a ng-click="" class="btn btn-success"><i class="fa fa-plus"></i></a></h3>-->
                      <!--<accordion>-->
                          <!--<accordion-group ng-repeat="gap in currentUser.user.availability track by $index" is-open="status.open">-->
                              <!--<accordion-heading>-->
                                  <!--<span ng-show="gap.available">, {{gap.start | date:'hh:mm a'}} - {{gap.end | date:'hh:mm a'}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>-->
                              <!--</accordion-heading>-->
                              <!--&lt;!&ndash;<div class="checkbox text-center" tooltip-toggle="mouseenter" tooltip="Are you available on {{day.day}}'s">&ndash;&gt;-->
                                  <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                      <!--&lt;!&ndash;<input ng-model="day.available" type="checkbox"> Available&ndash;&gt;-->
                                  <!--&lt;!&ndash;</label>&ndash;&gt;-->
                              <!--&lt;!&ndash;</div>&ndash;&gt;-->
                              <!--&lt;!&ndash;Start:<timepicker ng-model="day.start" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>&ndash;&gt;-->
                              <!--&lt;!&ndash;End:<timepicker ng-model="day.end" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>&ndash;&gt;-->
                          <!--</accordion-group>-->
                      <!--</accordion>-->
                  <!--</div>-->
                  <!--<div class="col-sm-7 text-center">-->
                      <!--<label class="control-label">Profile Info:</label>-->
                      <!--<div>Associate Email: {{currentUser.user.email}}</div>-->
                      <!--<button class="btn btn-primary" ng-click="authorizeInstagram()"><i class="fa fa-instagram fa-2x"></i> Authorize Instagram</button>-->
                  <!--</div>-->
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              Update Email Address
          </div>
          <div class="panel-body">
              <div class="col-sm-offset-3 col-sm-6">
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label for="newEmail" class="col-sm-4 control-label">New Email Address</label>
                          <div class="col-sm-8">
                              <input type="email" class="form-control" id="newEmail" placeholder="Email">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-offset-4 col-sm-4">
                              <button type="submit" class="btn btn-primary" disabled>Update Email Address</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-heading">
              Update Password
          </div>
          <div class="panel-body">
              <div class="col-sm-offset-3 col-sm-6">
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label for="currentPassword" class="col-sm-4 control-label">Current password</label>
                          <div class="col-sm-8">
                              <input type="password" class="form-control" id="currentPassword" placeholder="Password">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="currentPassword" class="col-sm-4 control-label">New password</label>
                          <div class="col-sm-8">
                              <input type="password" class="form-control" id="newPassword" placeholder="New password">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="confirmPassword" class="col-sm-4 control-label">Confirm new password</label>
                          <div class="col-sm-8">
                              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-offset-4 col-sm-4">
                              <button type="submit" class="btn btn-primary" disabled>Update Password</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!--<script type="text/ng-template" id="updateSuccess.html">-->
    <!--<div class="modal-header">-->
        <!--<h3 class="modal-title text-center">{{data.title}}</h3>-->
    <!--</div>-->
    <!--<div ng-if="status === 400"class="modal-body">-->
        <!--{{data.message}}-->
    <!--</div>-->
    <!--<div ng-if="status === 200" class="modal-body">-->
        <!--{{data.message}}-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
    <!--</div>-->
<!--</script>-->