<div class="container">
	<div class="page-header">
		<h1 class='text-center'>Admin Panel</h1>
	</div>
	<h3>Pending Queue</h3>
	<div ng-repeat="request in pendingRequests">
		<div class="row">
			<div class="col-md-6">
				Business Name: {{request.name}}
				<br>Address: {{request.formatted_address}}
				<br>Phone Number: {{request.formatted_phone_number}}
				<br>Date Created: {{request.info.dateCreated}}
				<br>Owner:{{request.info.owner.firstName}} {{request.info.owner.lastName}}
			</div>
			<div class="col-md-6">
				<button class="btn btn-success" ng-click="updateRequest(request,false,true)">Approve</button>
				<button class="btn btn-danger" disabled ng-click="updateRequest(request,true,false)">Deny</button>
			</div>
		</div>
	</div>
</div>