<div class="container-fluid bg-light-gray">
    <div class="page-header">
        <h1 class="text-center">Calendar <i class="fa fa-calendar"></i></h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Calendar Panel
        </div>
        <div class="panel-body">
            <div class="btn-group col-xs-offset-5">
                <button class="btn btn-primary" ng-click="changeView('month', 'myCalendar1')">Month</button>
                <button class="btn btn-primary" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
                <button class="btn btn-primary" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
            </div>
            <button class="btn btn-success" ng-click="openAvailabilityModal('lg')"
                    ng-show="currentUser.user.isAssociate"
                    uib-tooltip="Click Here to Update Your Weekly Availability" tooltip-placement="top">Update
                Availability
            </button>
            <div ui-calendar="uiConfig.calendar" calendar="myCalendar1" class="span8 calendar"
                 ng-model="eventSources"></div>
        </div>
    </div>
</div>
