<div class="container">
    <div class="page-header">
        <h1 class="text-center">Appointments <i class="fa fa-calendar"></i></h1>
    </div>
    <!--<div class="col-lg-12">-->
    <div class="btn-group col-xs-offset-5">
        <button class="btn btn-primary" ng-click="changeView('month', 'myCalendar1')">Month</button>
        <button class="btn btn-primary" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
        <button class="btn btn-primary" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
    </div>
    <div ui-calendar="uiConfig.calendar" calendar="myCalendar1" class="span8 calendar" ng-model="eventSources"></div>
    <!--</div>-->
    <!--<button ng-click="getDate('myCalendar1')"></button>-->
    <!--<div class="col-md-6">-->
        <!--<h1 class="text-center">Personal Appointments</h1>-->
        <!--<p class="text-center text-muted" ng-if="appointments.personalAppointments.length == 0">:( No Personal Appointments Yet. Schedule One!</p>-->
        <!--<div class="row well text-center" ng-repeat="appointment in appointments.personalAppointments">-->
            <!--<h4>{{appointment.title}}</h4>-->
            <!--Date: {{appointment.start.day}} {{appointment.start.date}} {{appointment.start.time}}-->
            <!--<br>-->
            <!--Scheduled on: {{appointment.timestamp | date:'MMMM dd yyyy hh:mm a'}}-->
            <!--<div>-->
                <!--<button class="btn btn-primary">Re-schedule <i class="fa fa-calendar-o"></i></button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
        <!--<h1 class="text-center">Business Appointments</h1>-->
        <!--<p class="text-center text-muted" ng-if="appointments.businessAppointments.length == 0">:( No Business Appointments Yet.</p>-->
        <!--<div class="row well text-center" ng-repeat="appointment in appointments.businessAppointments">-->
            <!--<h4>{{appointment.title}}</h4>-->
            <!--Date: {{appointment.start.day}} {{appointment.start.date}} {{appointment.start.time}}-->
            <!--<br>-->
            <!--Scheduled on: {{appointment.timestamp | date:'MMMM dd yyyy hh:mm a'}}-->
            <!--<div>-->
                <!--<button class="btn btn-primary">Re-schedule <i class="fa fa-calendar-o"></i></button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<!--
#########################################

Edit Appointment Modal

########################################
-->
<script type="text/ng-template" id="editAppointment.html">
    <div class="modal-header text-center">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-center">{{service.name}}</h3>
        <timer ng-show="showCount" countdown="countdown" max-time-unit="'minute'" interval="1000" auto-start="false" finish-callback="timerFinished()">Appointment being held for: {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col col-md-6 text-center">
                <h4>Select a Date to see Available Times</h4>
                <div style="display:inline-block; min-height:290px;">
                    <datepicker ng-model="selectedDate" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
                </div>
            </div>
            <div class="col col-md-6 text-center">
                <h4 ng-if="availableTimes.length > 1">Schedule</h4>
                <div class="col col-md-3" ng-click="createAppointmentObj(time,$index)"   ng-repeat="time in availableTimes track by $index">
                    <button ng-disabled="!time.available || time.status || time.toggled" ng-class="{'btn-danger': !time.available,'btn-warning':time.status,'btn-success':time.available && !time.toggled,'btn-primary':time.toggled}" role="button" class="btn" style="margin-bottom:5px;">
                        {{time.time}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!appointment || appointment.start.time == dateObj.appointment.start.time" ng-click="update()"><i class="fa fa-calendar-check-o"></i> Update  </button>
        <button class="btn btn-danger" ng-disabled="availableTimes[selectedIndex].time !== dateObj.appointment.start.time" ng-click="cancel()">Cancel <i class="fa fa-calendar-times-o"></i></button>
    </div>
</script>

