<div class="page-header">
	<h1 class="text-center">{{cat |uppercase}}</h1>
</div>
<div class="well col-md-4" style="height:300px;" ng-repeat="business in businesses">
	<img ng-src="{{business.icon}}" style="border-radius:20%"></img>
	<a href="#/business/{{business.id}}">{{business.name}}</a>
	<br><span>Rating: {{business.rating}}</span>
	<br><span>Location: {{business.formatted_address}}</span>
	<br><span>Description: {{business.snippet_text}}</span>
	<br><span>Website: <a href="{{business.website}}">{{business.website}}</a></span>
</div>