<nav id="mainNav" class="navbar navbar-default navbar-static-top" ng-controller="NavCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="" ui-sref="landing">
                <a class="navbar-brand" ng-href="/"><img src="/images/booked-1.png" height="30px" width="120px"></a>
            </a>
        </div>
        <form name="navQuery" class="navbar-form hidden-sm hidden-xs">
            <div class="row text-center form-inline form-group">
                <span class="left-inner-addon">
                        <i class="fa fa-search"></i>
                        <input class="form-control" aria-describedby="search" ng-model="query.term"
                               placeholder="Hair Salons" required>
                </span>
                <span class="left-inner-addon">
                    <i ng-show="!loadingLocation" class="fa fa-map-marker"></i>
                    <i ng-show="loadingLocation" class="fa fa-spinner fa-spin"></i>
                    <input class="form-control" aria-describedby="near" g-places-autocomplete
                           options="autocompleteOptions" ng-model="query.location" placeholder="Near.." required>
                </span>
                <span>
                    <button class="btn btn-md sectionBtn" ng-click="navQuery.$valid && search(query)"
                            type="submit">
                        <i style="color:white;" ng-show="fetchingQuery" class="fa fa-spinner"
                           ng-class="{'fa-pulse' : fetchingQuery}"></i>
                        <span ng-show="!fetchingQuery">Search</span>
                    </button>
                </span>
            </div>
        </form>
        <div class="uib-collapse navbar-collapse" uib-collapse="navbarCollapsed">
            <ul class="nav navbar-nav" style="background-color:lightgray">
                <li class="hidden-sm hidden-md hidden-lg">
                    <a ui-sref="search" ui-sref-active="active"
                       ng-click="navbarCollapsed = !navbarCollapsed;">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                <li ng-if="isLoggedIn()" class="hidden-sm hidden-md hidden-lg" ui-sref-active="active">
                    <a ui-sref="calendar" ng-click="navbarCollapsed = !navbarCollapsed;">
                        <i class="fa fa-thumb-tack"></i> Appointments
                    </a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg" ng-if="isLoggedIn() && currentUser.isAssociate">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;"
                       ui-sref="user({id:currentUser._id})">
                        <i class="fa fa-user"></i> Profile
                    </a>
                </li>
                <li ng-if="isLoggedIn()" class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;"
                       ui-sref="account({id:currentUser._id})">
                        <i class="fa fa-cog"></i> Settings
                    </a>
                </li>
                <li ng-if="currentUser.businessOwner" class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;" ui-sref="dashboard">
                        <i class="fa fa-tachometer"></i> Manage
                    </a>
                </li>
                <hr>
                <li class="hidden-sm hidden-md hidden-lg" ng-if="!isLoggedIn()">
                    <a ng-click="checkStateandLogin('login')">
                        <i class="fa fa-sign-in"></i>Log In
                    </a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg" ng-if="!isLoggedIn()">
                    <a ng-click="checkStateandLogin('signup');checkStateandLogin()">
                        <i class="fa fa-user"></i> Sign Up
                    </a>
                </li>
                <li ng-if="isLoggedIn()" class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="logOut();navbarCollapsed = !navbarCollapsed">
                        <i class="fa fa-sign-out"></i> Log Out
                    </a>
                </li>
            </ul>
            <!--
                User avatar and dropdown
            -->
            <div class="navbar-inner hidden-xs">
                <ul class="nav navbar-nav navbar-right">
                    <li uib-dropdown class="hidden-lg hidden-md">
                        <a ng-href="" uib-dropdown-toggle><i class="fa fa-search"></i></a>
                        <ul class="uib-dropdown-menu notifications">
                            <form name="miniQuery">
                                <div class="text-center form-group" style="margin-top:20px;">
                                    <span class="left-inner-addon form-inline">
                                            <i class="fa fa-building"></i>
                                            <input class="form-control" aria-describedby="search"
                                                   ng-model="query.term"
                                                   placeholder="Hair Salons" required>
                                    </span>
                                    <span class="left-inner-addon form-inline">
                                        <i ng-show="!loadingLocation" class="fa fa-map-marker"></i>
                                        <i ng-show="loadingLocation" class="fa fa-spinner fa-spin"></i>
                                        <input class="form-control form-inline" aria-describedby="near"
                                               g-places-autocomplete
                                               options="autocompleteOptions" ng-model="query.location"
                                               placeholder="Near.." required>
                                    </span>
                                    <button class="btn btn-md sectionBtn" style="margin-top:20px;"
                                            ng-click="miniQuery.$valid && search(query)"
                                            type="submit">
                                        <i style="color:white;" ng-show="fetchingQuery" class="fa fa-spinner"
                                           ng-class="{'fa-pulse' : fetchingQuery}"></i>
                                        <span ng-show="!fetchingQuery">Search</span>
                                    </button>
                                </div>
                            </form>
                        </ul>

                    </li>
                    <li uib-dropdown ng-show="isLoggedIn()">
                        <!--https://stackoverflow.com/questions/15316363/how-to-display-length-of-filtered-ng-repeat-data-->
                        <a ng-href="#" uib-dropdown-toggle>
                            <i class="fa fa-bell badge {{currentUser.notifications | newNotificationFilter}}">
                                {{currentUser.notifications | notificationFilter}}
                            </i>
                        </a>

                        <div class="uib-dropdown-menu notifications" ng-click="$event.stopPropagation()" role="menu"
                             aria-labelledby="dLabel">
                            <div class="notification-heading" ng-if="currentUser.notifications.length > 0">
                                <h4 class="menu-title">Notifications</h4>
                                <h4 class="menu-title pull-right" ng-click="viewAllNotifications()">Mark all as
                                    viewed</h4>
                            </div>
                            <span class="divider"></span>
                            <h3 style="color:black" class="text-center"
                                ng-if="currentUser.notifications.length === 0">You have no
                                notifications!</h3>
                            <ul class="notifications-wrapper">
                                <li class="content" ng-repeat="notification in currentUser.notifications">
                                    <div class="notification-item"
                                         ng-class="{'new-notification': notification.viewed === false}">
                                        <h5 class="pull-right" ng-click="viewNotification($index)"
                                            ng-if="notification.viewed === false"><i class="fa fa-times-circle-o"
                                                                                     uib-tooltip="Mark Read"
                                                                                     tooltip-placement="top"
                                                                                     tooltip-append-to-body="true"></i>
                                        </h5>
                                        <h5 ng-if="notification.type !== 'calendar'">{{notification.content}}</h5>
                                        <h5 ng-if="notification.type ==='calendar'">
                                            {{notification.content}}{{notification.date | notificationDateFilter }}</h5>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <h5 class="notification-timestamp"><i>{{notification.timestamp |
                                                    timeStampFilter}}</i>
                                                </h5>
                                            </div>
                                            <div class="col-xs-6">
                                                <a ng-if="notification.type === 'calendar'"
                                                   class="pull-right notification-link" ui-sref="calendar">Go to
                                                    calendar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li uib-dropdown ng-if="isLoggedIn()">
                        <a ng-href="" uib-dropdown-toggle class="avatarPadding truncate">
                            <img class="navbarAvatar"
                                 ng-if="!currentUser.avatarVersion && currentUser.provider === 'bookd'"
                                 ng-src="{{cloudinaryDefaultPic}}"/>
                            <img class="navbarAvatar"
                                 ng-if="currentUser.avatarVersion && currentUser.provider === 'bookd'"
                                 ng-src="{{cloudinaryBaseUrl}}{{currentUser.avatarVersion}}/profile/{{currentUser._id}}"/>
                            <img class="navbarAvatar" ng-if="currentUser.provider === 'google_plus'"
                                 ng-src="{{currentUser.providerInfo}}"/>
                            <img class="navbarAvatar" ng-if="currentUser.provider === 'facebook'"
                                 ng-src="{{currentUser.providerInfo}}"/>
                            {{currentUser.firstName}} <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="uib-dropdown-menu">
                            <li>
                                <a ui-sref="search" ui-sref-active="active"
                                   ng-click="navbarCollapsed = !navbarCollapsed;">
                                    <i class="fa fa-search"></i> Search
                                </a>
                            </li>
                            <li>
                                <a ui-sref="calendar" ng-click="">
                                    <i class="fa fa-thumb-tack"></i> Appointments
                                </a>
                            </li>
                            <li ng-if="isLoggedIn() && currentUser.isAssociate">
                                <a ng-click="navbarCollapsed = !navbarCollapsed;"
                                   ui-sref="user({id:currentUser._id})">
                                    <i class="fa fa-user"></i> Profile
                                </a>
                            </li>
                            <li ng-if="currentUser.businessOwner">
                                <a ng-click="navbarCollapsed = !navbarCollapsed;" ui-sref="dashboard">
                                    <i class="fa fa-tachometer"></i> Manage
                                </a>
                            </li>
                            <li ng-if="isLoggedIn()">
                                <a ui-sref="account({id:currentUser._id})" ng-click="">
                                    <i class="fa fa-cog"></i> Settings
                                </a>
                            </li>
                            <hr>
                            <li>
                                <a ng-click="logOut()">
                                    <i class="fa fa-sign-out"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="!isLoggedIn()">
                        <a ng-click="checkStateandLogin('login')">
                            <i class="fa fa-sign-in"></i>Log In
                        </a>
                    </li>
                    <li ng-if="!isLoggedIn()">
                        <a ng-click="checkStateandLogin('signup');checkStateandLogin()">
                            <i class="fa fa-user"></i> Sign Up
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>