<link href="/stylesheets/bookdnavbar.css" rel="stylesheet">
<nav id="mainNav" class="navbar navbar-default navbar-static-top" ng-controller="NavCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="showSearch(false)" ui-sref="landing">
                <i class="fa fa-2x fa-calendar"></i>
                <span style="font-size:25px;">Book'd</span>
            </a>
        </div>
        <form ng-if="show" name="navQuery" class="navbar-form hidden-md hidden-sm hidden-xs">
            <div class="row text-center form-inline form-group">
                <span class="left-inner-addon">
                        <i class="fa fa-building"></i>
                        <input class="form-control" aria-describedby="search" ng-model="query.term"
                               placeholder="Barbershops" required>
                </span>
                <span class="left-inner-addon">
                    <i ng-show="!loadingLocation" class="fa fa-map-marker"></i>
                    <i ng-show="loadingLocation" class="fa fa-spinner fa-spin"></i>
                    <input class="form-control" aria-describedby="near" g-places-autocomplete
                           options="autocompleteOptions" ng-model="query.location" required>
                </span>
                <span>
                    <button class="btn btn-md sectionBtn" ng-click="navQuery.$valid && search(query)"
                            type="submit">
                        <i style="color:white;" ng-show="fetchingQuery" class="fa fa-spinner"
                           ng-class="{'fa-spin' : fetchingQuery}"></i>
                        <span ng-show="!fetchingQuery">Search</span>
                    </button>
                </span>
            </div>
        </form>
        <div class="uib-collapse navbar-collapse" uib-collapse="navbarCollapsed">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="feed" ui-sref-active="active"
                       ng-click="navbarCollapsed = !navbarCollapsed;showSearch(true)">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg" ui-sref-active="active">
                    <a ui-sref="calendar" ng-click="navbarCollapsed = !navbarCollapsed;showSearch(true)">
                        <i class="fa fa-calendar"></i> Calendar
                    </a>
                </li>
                <li ng-if="isLoggedIn() && currentUser.user.isAssociate">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;showSearch(false)"
                       ui-sref="user({id:currentUser.user._id})">
                        <i class="fa fa-user"></i> Profile
                    </a>
                </li>
                <li ng-if="isLoggedIn()" class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;showSearch(false)"
                       ui-sref="account({id:currentUser.user._id})">
                        <i class="fa fa-cog"></i> Settings
                    </a>
                </li>
                <li ng-if="currentUser.user.businessOwner" class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;showSearch(false)" ui-sref="dashboard">
                        <i class="fa fa-tachometer"></i> Manage
                    </a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg" ng-hide="isLoggedIn()">
                    <a ng-click="showSearch(false); checkStateandLogin('login')">
                        <i class="fa fa-sign-in"></i></span> Log In
                    </a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg" ng-hide="isLoggedIn()">
                    <a ng-click="showSearch(false); checkStateandLogin('signup');checkStateandLogin()">
                        <i class="fa fa-user"></i> Sign Up
                    </a>
                </li>
                <hr>
                <li class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="logOut();navbarCollapsed = !navbarCollapsed">
                        LogOut
                    </a>
                </li>
            </ul>
            <!--
                User avatar and dropdown
            -->
            <div class="navbar-inner">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li uib-dropdown class="hidden-lg">
                        <a href="" uib-dropdown-toggle><i class="fa fa-search"></i></a>
                        <ul class="uib-dropdown-menu notifications">
                            <form name="miniQuery">
                                <div class="text-center col-xs-12 form-group">
                                    <div class="col-xs-12 ">
                                        <span class="left-inner-addon form-inline">
                                                <i class="fa fa-building"></i>
                                                <input class="form-control" aria-describedby="search" ng-model="query.term"
                                                       placeholder="Barbershops" required>
                                        </span>
                                    </div>
                                    <div class="col-xs-12">
                                        <span class="left-inner-addon form-inline">
                                            <i ng-show="!loadingLocation" class="fa fa-map-marker"></i>
                                            <i ng-show="loadingLocation" class="fa fa-spinner fa-spin"></i>
                                            <input class="form-control form-inline" aria-describedby="near" g-places-autocomplete
                                                   options="autocompleteOptions" ng-model="query.location"
                                                   placeholder="Near.." required>
                                        </span>
                                    </div>
                                    <button class="btn btn-md sectionBtn" ng-click="miniQuery.$valid && search(query)"
                                           type="submit">
                                       <i style="color:white;" ng-show="fetchingQuery" class="fa fa-spinner"
                                          ng-class="{'fa-spin' : fetchingQuery}"></i>
                                       <span ng-show="!fetchingQuery">Search</span>
                                   </button>
                                </div>
                            </form>
                        </ul>

                    </li>
                    <li uib-dropdown ng-show="isLoggedIn()">
                        <!--https://stackoverflow.com/questions/15316363/how-to-display-length-of-filtered-ng-repeat-data-->
                        <a href="#" uib-dropdown-toggle>
                            <i class="fa fa-bell badge"
                               ng-class="{'new-notification-alert': newNotifications.length > 0}">
                                {{newNotifications.length}}
                            </i>
                        </a>

                        <div class="uib-dropdown-menu notifications" ng-click="$event.stopPropagation()" role="menu"
                             aria-labelledby="dLabel">
                            <div class="notification-heading">
                                <h4 class="menu-title">Notifications</h4>
                                <h4 class="menu-title pull-right" ng-click="viewAllNotifications()">Mark all as
                                    viewed</h4>
                            </div>
                            <span class="divider"></span>
                            <h5 class="text-center" ng-if="notifications.length === 0">You have no notifications!</h5>
                            <ul class="notifications-wrapper">
                                <li class="content"
                                    ng-repeat="notification in notifications">
                                    <div class="notification-item"
                                         ng-class="{'new-notification': notification.viewed === false}">
                                        <h5 class="pull-right" ng-click="viewNotification($index)"
                                            ng-if="notification.viewed === false"><i class="fa fa-times"></i></h5>
                                        <h5>{{notification.content}}</h5>
                                        <h5>{{notification.timestamp}}</h5>
                                        <!--<h4 class="item-title">Appointment is {{notification.dayDiff}} days away</h4>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li uib-dropdown ng-show="isLoggedIn()">
                        <a href="" uib-dropdown-toggle class=" avatarPadding">
                            <img class="navbarAvatar"
                                 ng-if="!currentUser.user.avatarVersion && currentUser.user.provider === 'bookd'"
                                 ng-src="{{cloudinaryDefaultPic}}"/>
                            <img class="navbarAvatar"
                                 ng-if="currentUser.user.avatarVersion && currentUser.user.provider === 'bookd'"
                                 ng-src="{{cloudinaryBaseUrl}}{{currentUser.user.avatarVersion}}/profile/{{currentUser.user._id}}"/>
                            <img class="navbarAvatar" ng-if="currentUser.user.provider === 'google_plus'"
                                 ng-src="{{currentUser.providerInfo}}"/>
                            <img class="navbarAvatar" ng-if="currentUser.user.provider === 'facebook'"
                                 ng-src="{{currentUser.providerInfo}}"/>
                            {{currentUser.user.name}} <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="uib-dropdown-menu">
                            <li>
                                <a ui-sref="calendar" ng-click="showSearch(false)">
                                    <i class="fa fa-calendar"></i> Calendar
                                </a>
                            </li>
                            <li>
                                <a ng-if="currentUser.user.businessOwner" ng-click="showSearch(false)"
                                   ui-sref="dashboard">
                                    <i class="fa fa-tachometer"></i> Manage
                                </a>
                            </li>
                            <li>
                                <a ui-sref="account({id:currentUser.user._id})" ng-click="showSearch(false)">
                                    <i class="fa fa-cog"></i> Settings
                                </a>
                            </li>
                            <hr>
                            <li>
                                <a ng-click="logOut()">
                                    <i class="fa fa-sign-out"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-hide="isLoggedIn()"><a href="" ng-click="checkStateandLogin('login')"><i
                            class="fa fa-sign-in"></i> Log In</a></li>
                    <li ng-hide="isLoggedIn()"><a href="" ng-click="checkStateandLogin('signup')"><i
                            class="fa fa-user"></i> Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>