<div class="container">
<!--
#########################################

	Business Page -- Consolidated View

########################################
-->
	<div class="container">
		<div class="page-header">
	<!-- 		<button class="btn btn-primary col-xs-offset-11 col-sm-offset-11 col-md-offset-11 col-lg-offset-11">Edit</button> -->
			<h1 class='text-center'>{{business.name}}</h1>
			<img ng-if="business.info.claimed" ng-src="{{business.info.icon}}" style="border-radius:20%"></image>
			<img ng-if="!business.info.claimed" ng-src="{{business.info.icon}}" style="border-radius:20%"></image>
			<!-- {{business.name}} -->
			
			<br>
            Rating: {{business.rating}}
			<!--Rating: <img ng-src="{{business.rating_img_url}}"></image>-->
			<br>
			Google Places: <a href="{{business.url}}" target="_blank">{{business.url}}</a>
			<br>
			Business Website: <a href="{{business.website}}" target="_blank">{{business.website}}</a>
			<br>
			Location: {{business.formatted_address}}
			<br>
			Phone: {{business.formatted_phone_number}}
			<br>
			Hours:
			<span ng-repeat="hours in business.opening_hours.weekday_text">
	    			<br>{{hours}}
			</span>
		</div>
			<!-- 
		#########################################

			Services Block

		########################################
		-->
		<div class="row">
			<div ng-if="currentUser._id == business.info.owner" class="btn-group col-xs-8 col-sm-4 col-md-3 col-xs-offset-8 col-sm-offset-8 col-md-offset-9 col-lg-offset-9" role="group">
				<button ng-click="open()" class="btn btn-success"><i class="fa fa-plus"></i></button>
			</div>
			<h3 class="text-center ">Services</h3>
		</div>
		<div class="row text-center">
			<div class="col-md-3 col-xs-5 col-sm-3" style="height:200px;" ng-repeat="service in business.info.services track by $index">
				<div class="row">
					<div ng-if="currentUser._id == business.info.owner" class="adjustMargins pull-right">
						<button class="close" ng-click="editService(service, $index)"><i class="fa fa-pencil text-warning"></i></button>
					</div>
				</div>
				<div class="">
					<h4>{{service.name}}</h4>
					<h5>Price:{{service.price | currency}}</h5>
					<p>Duration: {{service.duration}} minutes</p>
					<p>{{service.description}}</p>
				</div>
				<div>
					<button class="btn btn-primary text-center" ng-click="openService('lg');setService(service)">Book Appointment</button>
				</div>
			</div>
		</div>
		<div class="row" ng-if="!business.info.services">
			<h1>Your business has not been claimed and does not offer services through Book'd yet.</h1>
		</div>
			<!-- 
		#########################################

			Employee Block

		########################################
		-->	
		<div class="row">
			<div ng-if="currentUser._id == business.info.owner" class="btn-group col-xs-8 col-sm-4 col-md-3 col-xs-offset-8 col-sm-offset-8 col-md-offset-9 col-lg-offset-9" role="group">
				<!--<button ng-click="openEmployee()" class="btn btn-primary">Add</button>-->
				<!--<button class="btn btn-warning">Edit</button>-->
				<button ng-click="openEmployee()" class="btn btn-success"><i class="fa fa-plus"></i></button>
			</div>
			<h3 class="text-center ">Associates </h3>
			<span class="text-center">
				<alert ng-show="employeeError.message" type="danger" dismiss-on-timeout="1000" close="removeAlert()">{{employeeError.message}}</alert>
			</span>
		</div>
		<div class="row">
			<div class="well col-md-3 col-xs-4 text-center" ng-repeat="employee in business.info.employees">
                <div class="row">
                    <div ng-if="currentUser._id == business.info.owner" class="adjustMargins pull-right">
                        <button class="close" ng-click="removeEmployee(employee)"><i class="fa fa-trash-o text-danger"></i></button>
                    </div>
                </div>
                <div class="row">
                    <img ng-if="!employee.avatarVersion" ng-src="{{cloudinaryDefaultPic}}">
                    <img ng-if="employee.avatarVersion" ng-src="{{cloudinaryBaseUrl}}{{employee.avatarVersion}}/profile/{{employee._id}}">
                    <div class="">
                        <h4><a href="/user/{{employee.username}}/profile">{{employee.firstName}} {{employee.lastName}}</a></h4>
                    </div>
                </div>
			</div>
			<div class="row" ng-if="!business.info.employees">
				<h1 class="text-center">Your business does not have any employee's registered yet.</h1>
			</div>
		</div>
		<!-- 
		#########################################

			Reviews Block

		########################################
		-->	
		<div class="row">
			<h3 class="text-center">Reviews</h3>
			<div class="row">
				<div class="well col-md-6 col-sm-12 reviewBox" ng-repeat="review in business.reviews track by $index">
					<img ng-src="{{review.user.image_url}}" style="border-radius:20%"></img>
					<br>User: <span><a href="{{review.author_url}}">{{review.author_name}}</a></span>
					<br>
					Rating: {{review.rating}}
					<br>
					{{review.text}}
				</div>
			</div>
		</div>
	<!-- 	<div ng-if="!business.info.claimed" class="row text-center">
			<a href="#/claim/{{business.id}}">Claim Business</a>
		</div> -->
	</div>
</div>
<!-- 
#########################################

	Schedule Appointment Modal

########################################
-->

<script type="text/ng-template" id="scheduleServiceModal.html">

    <div class="modal-header">
    	<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-center">{{service.name}}</h3>
    </div>
    <div class="modal-body container-fluid">
      <ul class="hide nav nav-tabs" id="tabContent">
        <li class="active"><a data-target="#details" data-toggle="tab"></a></li>
        <li><a data-target="#employees" data-toggle="tab"></a></li>
        <li><a data-target="#schedule" data-toggle="tab"></a></li>
        <li><a data-target="#pay" data-toggle="tab"></a></li>
      </ul>
  
  		<div class="tab-content">
	        <div class="tab-pane active" id="details">
	          <div class="control-group">
	            <div class="row text-center">
	            	<h2>Copy informing the user that they won't be charged until the time of their appointment</h2>
	            	<h5>Price:{{service.price |currency}}</h5>
	            	<h5>Duration: {{service.duration}} minutes.</h5>
	            	<h5>{{service.description}}</h5>
	            	<a data-target="#employees" data-toggle="tab" class="btn btn-primary">Next</a>
	            </div>
	          </div>
	        </div>
	        <div class="tab-pane" id="employees">
	          	<div class="row text-center" style="margin-left:10px;margin-right:10px;">
	            	<h3>Select an Associate</h3>
	            	<div class="col col-md-3 well" ng-repeat="employee in service.employees">
	            		<img ng-if="!employee.avatarVersion" ng-src="{{cloudinaryDefaultPic}}">
	          			<img ng-if="employee.avatarVersion" ng-src="{{cloudinaryBaseUrl}}{{employee.avatarVersion}}/profile/{{employee._id}}">
	            		<h5>{{employee.firstName}} {{employee.lastName}}</h5>
	            		<br>
	            		<label for="selectEmployee">Select</label>
	            		<input name="selectEmployee" ng-click="selectEmployee(employee)" type="radio">
	            	</div>
	            </div>
	            <div class="row text-center">
	            	<a data-target="#details" data-toggle="tab"  class="btn btn-warning">Back</a>
	            	<a data-target="#schedule" data-toggle="tab" ng-show="employee" class="btn btn-primary">Next</a>
	            </div>
	        </div> 
	        <div class="tab-pane" id="schedule">
	        	<div class="row">
	        		<div class="col col-md-6 text-center">
		          		<h4>Select a Date to see Available Times</h4>
		          		<div style="display:inline-block; min-height:290px;">
					      <datepicker ng-model="selectedDate" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
					    </div>
				    </div>
				    <div class="col col-md-6 text-center">
				    	<h4 ng-if="availableTimes.length > 1">{{employee.firstName}}'s Available Times</h4>
				    	<div class="col col-md-3" ng-repeat="time in availableTimes track by $index">
				    		<button ng-disabled="!time.available" ng-class="{'btn-danger': !time.available, 'btn-success':time.available}" ng-click="createAppointmentObj(time)" class="btn" style="margin-bottom:5px;">
				    		{{time.time}}
				    		</button>
				    	</div>
					</div>
	          	</div>
	          	<div class="row text-center">
						<a data-target="#employees" data-toggle="tab"  class="btn btn-warning">	Back
						</a>
					<button class="btn btn-primary" ng-show="appointment" stripe-checkout="ctrl.checkOut"
				            data-key="pk_test_Hfdo0VXXOa2Om7YyYohtdRcb"
				            data-name="Bookd"
				            data-description="{{service.name}}"
				            data-amount="{{stripePrice}}"
				            data-image="/images/icon.png"
				            data-label="Book Appointment"
						    data-panel-label="Book">
				      	Book Appointment
				    </button>
	          	</div>
	        </div>
		</div>
   </div>
<!--     <div class="modal-footer">
    	<button class="btn btn-success" ng-show="" ng-click="ok()">Book</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> -->
</script>
<!-- 
#########################################

	New service Modal

########################################
-->
<script type="text/ng-template" id="addServiceModal.html">
        <div class="modal-header">
			<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h3 class="modal-title text-center">New Service</h3>
        </div>
        <div class="modal-body">
            <div class="row">
            	<form>
            		<div class="form-group col-md-12">
	            		<label for="serviceName">Service Name:</label>
	            		<input class="form-control" id="serviceName" ng-required ng-model="service.name">
	            	</div>
	            	<div class="col-md-12">
	            		<label>Employees:</label>
	            	</div>
	            	<div class="col-md-12">
	            		<div ng-dropdown-multiselect="" options="business.employees" extra-settings="settings" selected-model="serviceEmployees"></div>
	            	</div>
	            	<div class="form-group col-md-12">
	            		<label for="price">Price:</label>
	            		<select class="form-control" id="price" ng-model="service.price" placeholder="$0">
	            			<option value="" disabled selected>Select Service Price</option>
	            			<option value="5">$5</option>
	            			<option value="10">$10</option>
	            			<option value="15">$15</option>
	            			<option value="20">$20</option>
	            		</select>
	            	</div>
	            	<div class="form-group col-md-12">
	            		<label>Duration:</label>
	            		<select class="form-control" ng-model="service.duration">
	            			<option value="">Select a Duration</option>
	            			<option value="15">15 Minutes</option>
	            			<option value="30">30 Minutes</option>
	            			<option value="60">60 Minutes</option>
	            		</select>
	            	</div>
	            	<div class="form-group col-md-12">
	            		<label for="serviceDescription">Description:</label>
	            		<textarea class="form-control" id="serviceDescription" ng-model="service.description"></textarea>
	            	</div>
            	</form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(service)">Create</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>
<!--
#########################################

	Edit service Modal

########################################
-->
<script type="text/ng-template" id="editServiceModal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
		<h3 class="modal-title text-center">Edit Service</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<form>
				<div class="form-group col-md-12">
					<label for="serviceName">Service Name:</label>
					<input class="form-control" id="editServiceName" ng-model="editService.name">
				</div>
				<div class="col-md-12">
					<label>Employees: <span ng-repeat="employee in editService.employees"> {{employee.firstName}}</span></label>
				</div>
				<div class="col-md-12">
					<div ng-dropdown-multiselect="" options="business.employees" extra-settings="settings" selected-model="serviceEmployees"></div>
				</div>
				<div class="form-group col-md-12">
					<label for="price">Price:</label>
					<select class="form-control" id="editPrice" ng-model="editService.price" placeholder="$0">
						<option value="" disabled selected>Select Service Price</option>
						<option value="5">$5</option>
						<option value="10">$10</option>
						<option value="15">$15</option>
						<option value="20">$20</option>
					</select>
				</div>
				<div class="form-group col-md-12">
					<label>Duration:</label>
					<select class="form-control" ng-model="editService.duration">
						<option value="">Select a Duration</option>
						<option value="15">15 Minutes</option>
						<option value="30">30 Minutes</option>
						<option value="60">60 Minutes</option>
					</select>
				</div>
				<div class="form-group col-md-12">
					<label for="serviceDescription">Description:</label>
					<textarea class="form-control" id="editServiceDescription" ng-model="editService.description"></textarea>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok(editService)">Save</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>
<!-- 
#########################################

	New Employee Modal

########################################
-->
<script type="text/ng-template" id="addEmployeeModal.html">
    <div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-center">New Employee</h3>
    </div>
    <div class="modal-body">
        <div class="row">
        	<form>
        		<div class="form-group col-md-12">
            		<label for="employeeId">Employee Id:</label>
            		<input class="form-control" id="employeeId" ng-model="id">
            	</div>
            	<div class="col-md-12">
            		<button class="btn btn-success col-sm-offset-6 col-md-offset-6" ng-click="findEmployee(id)">Search</button>
        		</div>
        		<div class="col-md-12" ng-if="employee">
        			<img ng-if="employee.avatarVersion" ng-src="{{cloudinaryBaseUrl}}{{employee.avatarVersion}}/profile/{{employee._id}}"
        				style="height:100px;width:100px;">
        			<img ng-if="!employee.avatarVersion" ng-src="{{cloudinaryDefaultPic}}"
        				style="height:100px;width:100px;">
        			<br>Id: {{employee._id}}
        			<br>Name: {{employee.firstName}} {{employee.lastName}}
        			<br>Username: {{employee.username}}
        		</div>
        	</form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!employee" ng-click="create(employee._id)">Register Employee</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!--
#########################################

Remove Employee Modal

########################################
-->
<script type="text/ng-template" id="removeEmployeeModal.html">
    <div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-center">Remove Employee</h3>
    </div>
    <div class="modal-body">
        <div ng-if="employeeHasService">
            <h4>{{employee.firstName}} {{employee.lastName}} is the only employee associated with the following service(s):</h4>
            <ul>
                <li class="h5" ng-repeat="service in associatedServices">{{service}}</li>
            </ul>
            <h4>Please delete or assign another employee to the service(s) before deleting {{employee.firstName}}.</h4>
		</div>
        <h4 ng-if="!employeeHasService">Are you sure you would like to remove {{employee.firstName}} {{employee.lastName}}?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-if="!employeeHasService" ng-click="remove()">Yes, remove {{employee.firstName}}</button>
		<button class="btn btn-primary" ng-if="employeeHasService" ng-click="cancel()">Ok</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

