<div class="container-fluid text-center margin-base-vertical">
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary" ui-sref="apply.apply_two" ng-click="finishPageOne('owner')">Barbershop
                Owner/Individual
                Barber</a>
            <p>You own a barbershop or are an individual barber.</p>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary" ui-sref="apply.apply_two" ng-click="finishPageOne('associate')">Associate
                barber</a>
            <p>You work by commission or rent a chair in a barbershop.</p>
        </div>
    </div>
</div>