<div class="container body-wrap">
	<h1 class="text-center">Claim Your Business</h1>
	<div class="well">
		<div class="row">
			<form>
				<div class="row">
					<div class="form-group col-md-4 col-md-offset-1">
						<label for="firstName">First Name</label>
						<input id="firstName" class="form-control" ng-model="currentUser.firstName">
					</div>
					<div class="col-md-4 col-md-offset-2">
						<p style="color:red">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet ligula lacus, quis sagittis tortor pulvinar a. Suspendisse interdum ante vel congue auctor. Quisque ut quam gravida velit pulvinar dignissim et a elit.</p>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4 col-md-offset-1">
						<label for="lastName">Last Name</label>
						<input id="lastName" class="form-control" ng-model="currentUser.lastName">
					</div>
					<div class="col-md-4 col-md-offset-2">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet ligula lacus, quis sagittis tortor pulvinar a. Suspendisse interdum ante vel congue auctor. Quisque ut quam gravida velit pulvinar dignissim et a elit.</p>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4 col-md-offset-1">
						<label for="business">Business Name</label>
						<input id="business" class="form-control" disabled ng-model="business.name">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4 col-md-offset-1">
						<label for="email">Email</label>
						<input id="email" class="form-control" ng-model="currentUser.email">
					</div>
					<div class="col-md-4 col-md-offset-2">
						<p style="color:red">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet ligula lacus, quis sagittis tortor pulvinar a. Suspendisse interdum ante vel congue auctor. Quisque ut quam gravida velit pulvinar dignissim et a elit.</p>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4 col-md-offset-1">
						<label for="pphone">Personal Phone #</label>
						<input id="pphone" class="form-control" ng-model="currentUser.phone">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4 col-md-offset-1">
						<label for="bphone">Business Phone #</label>
						<input id="bphone" class="form-control" disabled ng-model="business.phone">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4 col-md-offset-1">
						<label for="url">Book'd Url</label>
						<input id="url" class="form-control" placeholder="" disabled value="http://khalilbrown.com/#/business/{{business.id}}">
					</div>
				</div>
				<div class="col-md-offset-6">
					<button class="btn btn-primary" ng-click="createClaim()">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>