<div class="container-fluid">
	<div class="page-header">
        <h1 class="text-center">Dashboard <i class="fa fa-tachometer"></i></h1>
	</div>
    <div class="row">
        <div class="col" ng-if="businesses.length > 1">
            <div class="btn-group-lg" uib-dropdown>
                <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                    {{activeBusiness.business.name}} <span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="business in businesses" ng-click="switchBusiness(business)"><a
                            href="#"><i class="fa fa-home"></i> {{business.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <uib-accordion>
                <uib-accordion-group is-open="statusOne.open">
                    <uib-accordion-heading>
                        Business Info
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': statusOne.open, 'glyphicon-chevron-right': !statusOne.open}"></i>
                    </uib-accordion-heading>
                    <div class="col-xs-12">
                        <h4>{{activeBusiness.business.name}}</h4>
                        <a href="/business/{{activeBusiness.business.placesId}}">Go to Business Page</a>

                        <div class="">
                            Tier: <span ng-if="activeBusiness.business.tier == 0" style="color:#CD7F32;"><i
                                class="fa fa-certificate"></i> Bronze</span>
                            <span ng-if="activeBusiness.business.tier == 1" style="color:#C0C0C0;"><i
                                    class="fa fa-certificate"></i> Silver</span>
                            <span ng-if="activeBusiness.business.tier == 2" style="color:#FFD700;"><i
                                    class="fa fa-certificate"></i> Gold</span>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <button class="btn btn-success" disabled>Upgrade!</button>
                            </div>
                        </div>
                    </div>
            </uib-accordion>
        </div>
        <div class="col-xs-6 col-sm-4">
            <uib-accordion>
                <uib-accordion-group is-open="statusTwo.open">
                    <uib-accordion-heading>
                        Associates
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': statusTwo.open, 'glyphicon-chevron-right': !statusTwo.open}"></i>
                    </uib-accordion-heading>
                    <div class="col-xs-12">
                        <div ng-repeat="associate in activeBusiness.business.employees" style="height:50px;">
                            <li>{{associate.name}}
                                <button class="btn btn-danger pull-right"
                                        ng-click="removeEmployee(associate,activeBusiness.business)" uib-tooltip="Remove Associate" tooltip-placement="left"><i
                                        class="fa fa-trash"></i></button>
                            </li>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="text-center">
                            <button class="btn btn-success" ng-click="openEmployee(activeBusiness.business)">
                                New Associate
                            </button>
                        </div>
                    </div>
            </uib-accordion>
        </div>
        <div class="col-xs-6 col-sm-4">
            <uib-accordion>
                <uib-accordion-group is-open="statusThree.open">
                    <uib-accordion-heading>
                        Services
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': statusThree.open, 'glyphicon-chevron-right': !statusThree.open}"></i>
                    </uib-accordion-heading>
                    <div class="col-xs-12">
                        <div ng-repeat="service in activeBusiness.business.services track by $index"
                             style="height:50px;">
                            <li>{{service.name}}
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <button class="btn btn-danger" uib-tooltip="Delete Service"><i class="fa fa-trash"></i>
                                    </button>
                                    <button class="btn btn-warning " ng-click="editService(service,$index)" uib-tooltip="Edit Service"><i
                                            class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-primary" uib-tooltip="Book Appointment"><i class="fa fa-calendar"></i></button>
                                </div>
                            </li>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="text-center">
                            <button class="btn btn-success" ng-click="open()">
                                New Service
                            </button>
                        </div>
                    </div>
            </uib-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <uib-accordion>
                <uib-accordion-group is-open="statusCal.open">
                    <uib-accordion-heading>
                        <span ng-if="activeBusiness.business.name">{{activeBusiness.business.name}}</span><span
                            ng-if="!activeBusiness.business.name">Please Select a Business</span>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': statusCal.open, 'glyphicon-chevron-right': !statusCal.open}"></i>
                    </uib-accordion-heading>
                    <div class="row">
                        <div class="col-xs-2 ">
                            <div id="employeeDropdown" ng-dropdown-multiselect=""
                                 options="activeBusiness.business.employees" extra-settings="settings"
                                 selected-model="calendarEmployees" translation-texts="customTexts"
                                 events="dropdownEvents"></div>
                        </div>
                        <div class="btn-group col-xs-3 col-xs-offset-3">
                            <button class="btn btn-primary" ng-click="changeView('month', 'myCalendar1')">
                                Month
                            </button>
                            <button class="btn btn-primary" ng-click="changeView('agendaWeek', 'myCalendar1')">Week
                            </button>
                            <button class="btn btn-primary" ng-click="changeView('agendaDay', 'myCalendar1')">Day
                            </button>
                        </div>
                        <div class="col-xs-3 col-xs-offset-1 text-right">
                            <button class="btn btn-warning fa fa-refresh fa-1x" uib-tooltip="Refresh"
                                    tooltip-placement="left"></button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ui-calendar="uiConfig.calendar" calendar="myCalendar1" class="span8 calendar"
                                 ng-model="eventSources"></div>
                        </div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
    <!--
    #
    # //TODO implement analytics on the business owner dash
    #
    #
    #
    #
    -->
    <!--<div class="row">-->
    <!--<div class="col-xs-4">-->
    <!--<uib-accordion>-->
    <!--<uib-accordion-group is-open="statusFour.open">-->
    <!--<uib-accordion-heading>-->
    <!--Analytics-->
    <!--<i class="pull-right glyphicon"-->
    <!--ng-class="{'glyphicon-chevron-down': statusFour.open, 'glyphicon-chevron-right': !statusFour.open}"></i>-->
    <!--</uib-accordion-heading>-->
    <!--<div class="col-xs-10">-->
    <!--<p>Hey</p>-->
    <!--</div>-->
    <!--<div class="col-xs-1">-->
    <!--<button class="btn btn-warning fa fa-refresh fa-1x" uib-tooltip="Refresh"-->
    <!--tooltip-placement="left"></button>-->
    <!--</div>-->
    <!--</uib-accordion>-->
    <!--</div>-->
    <!--<div class="col-xs-4">-->
    <!--<uib-accordion>-->
    <!--<uib-accordion-group is-open="statusFive.open">-->
    <!--<uib-accordion-heading>-->
    <!--Analytics-->
    <!--<i class="pull-right glyphicon"-->
    <!--ng-class="{'glyphicon-chevron-down': statusFive.open, 'glyphicon-chevron-right': !statusFive.open}"></i>-->
    <!--</uib-accordion-heading>-->
    <!--<div class="col-xs-10">-->
    <!--<h4>Stuff</h4>-->
    <!--</div>-->
    <!--<div class="col-xs-1">-->
    <!--<button class="btn btn-warning fa fa-refresh fa-1x" uib-tooltip="Refresh"-->
    <!--tooltip-placement="left"></button>-->
    <!--</div>-->
    <!--</uib-accordion>-->
    <!--</div>-->
    <!--<div class="col-xs-4">-->
    <!--<uib-accordion>-->
    <!--<uib-accordion-group is-open="statusSix.open">-->
    <!--<uib-accordion-heading>-->
    <!--Analytics-->
    <!--<i class="pull-right glyphicon"-->
    <!--ng-class="{'glyphicon-chevron-down': statusSix.open, 'glyphicon-chevron-right': !statusSix.open}"></i>-->
    <!--</uib-accordion-heading>-->
    <!--<div class="col-xs-10">-->
    <!--<h4>Stuff</h4>-->
    <!--</div>-->
    <!--<div class="col-xs-1">-->
    <!--<button class="btn btn-warning fa fa-refresh fa-1x" uib-tooltip="Refresh"-->
    <!--tooltip-placement="left"></button>-->
    <!--</div>-->
    <!--</uib-accordion-group>-->
    <!--</uib-accordion>-->
    <!--</div>-->
    <!--</div>-->
</div>