<div class="container-fluid">
    <div class="row page-header dashboard-header">
        <h1 class=" text-center">
            <div class="col-xs-1" ng-if="businesses.length > 1" style="padding-bottom:10px;">
                <div class="btn-group-lg switch-business-dropdown" uib-dropdown>
                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                        {{activeBusiness.business.name}} <span class="caret"></span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="business in businesses" ng-click="switchBusiness(business)">
                            <a
                                    href="#"><i class="fa fa-home"></i> {{business.name}}</a></li>
                    </ul>
            </div>
        </div>
            {{activeBusiness.business.name}}
        </h1>
    </div>
    <!--
    #################################
    ##
    ##    Appointments Tab
    ##
    ##
    #################################
    -->
    <uib-tabset justified="true">
        <uib-tab select="renderCalender()">
            <uib-tab-heading>
                <i class="fa fa-calendar"></i> Appointments
            </uib-tab-heading>
            <div class="row dashboard-content">
                <div class="col-xs-2">
                    <!--
                    #################################
                    ##
                    ##    Services
                    ##
                    ##
                    #################################
                    -->
                    <div class="row">
                        <div class="col-xs-12 dashboard-panel cal-services-content">
                            <uib-accordion>
                                <uib-accordion-group is-open="statusThree.open">
                                    <uib-accordion-heading>
                                        Schedule Appointments
                                        <i class="pull-right glyphicon"
                                           ng-class="{'glyphicon-chevron-down': statusThree.open, 'glyphicon-chevron-right': !statusThree.open}"></i>
                                    </uib-accordion-heading>
                                    <div class="col-xs-12 dashboard-panel-list cal-dashboard-panel-content">
                                        <div class="text-center" ng-if="activeBusiness.business.services.length == 0">
                                            <p>Add Your First Service From The Manage Tab.</p>
                                        </div>
                                        <div class="dashboard-cal-service"
                                             ng-repeat="service in activeBusiness.business.services track by $index">
                                            <li id="dashboard-cal-service-list">
                                                <button class="btn btn-md btn-gradient-primary pull-left"
                                                        ng-click="openService('lg',false,service) "
                                                        uib-tooltip="Book Appointment" tooltip-append-to-body="true"
                                                        tooltip-placement="top">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                                <h5>{{service.name}}</h5>
                                            </li>
                                            <hr class="full service-hr">
                                        </div>
                                    </div>
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </div>
                    <!--
                    #################################
                    ##
                    ##    calendar Key Block
                    ##
                    ##
                    #################################
                    -->
                    <div class="row">
                        <div class="col-xs-12 dashboard-panel dashboard-panel-body">
                            <uib-accordion>
                                <uib-accordion-group is-open="statusOne.open">
                                    <uib-accordion-heading>
                                        Calendar Key
                                        <i class="pull-right glyphicon"
                                           ng-class="{'glyphicon-chevron-down': statusOne.open, 'glyphicon-chevron-right': !statusOne.open}"></i>
                                    </uib-accordion-heading>
                                    <div class="col-xs-12 text-left">
                                        <li style="color:#3a87ad;">Active</li>
                                        <li style="color:#f00;">Pending</li>
                                        <li style="color:#f39;">Paid</li>
                                    </div>
                                    <!--<div class="dashboard-panel-footer">-->
                                    <!--<button class="btn btn-gradient-success" disabled-->
                                    <!--ng-hide="activeBusiness.business.tier === 2">-->
                                    <!--Upgrade!-->
                                    <!--</button>-->
                                    <!--</div>-->
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </div>
                    <!--
                    #################################
                    ##
                    ##    Business Info Block
                    ##
                    ##
                    #################################
                    -->
                    <div class="row">
                        <div class="col-xs-12 dashboard-panel dashboard-panel-body">
                            <uib-accordion>
                                <uib-accordion-group is-open="statusOne.open">
                                    <uib-accordion-heading>
                                        Business Info
                                        <i class="pull-right glyphicon"
                                           ng-class="{'glyphicon-chevron-down': statusOne.open, 'glyphicon-chevron-right': !statusOne.open}"></i>
                                    </uib-accordion-heading>
                                    <div class="col-xs-12 text-center">
                                        <h4>{{activeBusiness.business.name}}</h4>
                                        <a href="/business/{{activeBusiness.business.placesId}}">Visit Business Page</a>

                                        <div class="">
                                            <span ng-if="activeBusiness.business.tier === 0"
                                                        style="color:#CD7F32;"><i
                                                class="fa fa-certificate"></i> Bronze</span>
                            <span ng-if="activeBusiness.business.tier === 1" style="color:#C0C0C0;"><i
                                    class="fa fa-certificate"></i> Silver</span>
                            <span ng-if="activeBusiness.business.tier === 2" style="color:#FFD700;"><i
                                    class="fa fa-certificate"></i> Gold</span>
                                        </div>
                                    </div>
                                    <div class="dashboard-panel-footer">
                                        <button class="btn btn-gradient-success" disabled
                                                ng-hide="activeBusiness.business.tier === 2">
                                            Upgrade!
                                        </button>
                                    </div>
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </div>
                </div>
                <!--
                #################################
                ##
                ##    Calendar Block
                ##
                ##
                #################################
                -->
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="btn-group col-xs-3">
                                    <button class="btn btn-default" ng-click="changeView('month', 'myCalendar1')"
                                            ng-model="radioModel" uib-btn-radio="'Month'">
                                        Month
                                    </button>
                                    <button class="btn btn-default" ng-click="changeView('agendaWeek', 'myCalendar1')"
                                            ng-model="radioModel" uib-btn-radio="'Week'">Week
                                    </button>
                                    <button class="btn btn-default" ng-click="changeView('agendaDay', 'myCalendar1')"
                                            ng-model="radioModel" uib-btn-radio="'Day'">Day
                                    </button>
                                    <span uib-tooltip="Refreshing..." ng-show="calLoading"><i
                                            class="fa fa-spinner fa-spin"></i></span>
                                </div>
                                <div class="col-xs-3 col-xs-offset-2 text-center">
                                    <div id="employeeDropdown" ng-dropdown-multiselect=""
                                         options="activeBusiness.business.employees" extra-settings="settings"
                                         selected-model="calendarEmployees" translation-texts="customTexts"
                                         events="dropdownEvents"></div>
                                </div>
                                <div class="col-xs-3 col-xs-offset-1 text-right">
                                    Last Updated: {{lastUpdatedView}}
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div ui-calendar="uiConfig.calendar" calendar="myCalendar1" class="span8 calendar"
                                         ng-model="eventSources"></div>
                                    <div class="text-center" ng-if="loadingCal" style="margin-top:150px;">
                                        <i class="fa fa-spinner fa-pulse fa-4x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>

        <!--
        #################################
        ##
        ##    Manage Tab
        ##
        ##
        #################################
        -->
        <uib-tab>
            <uib-tab-heading>
                <i class="fa fa-tachometer"></i> Manage
            </uib-tab-heading>
                <!--
                #################################
                ##
                ##    Services  Block
                ##
                ##
                #################################
                -->
            <div class="row dashboard-business-info">
                <div class="col-xs-6 dashboard-panel-body">
                    <uib-accordion class="accordion-height">
                        <uib-accordion-group is-open="statusThree.open">
                            <uib-accordion-heading>
                                Services
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': statusThree.open, 'glyphicon-chevron-right': !statusThree.open}"></i>
                            </uib-accordion-heading>
                            <div class="col-xs-12 dashboard-panel-list dashboard-panel-content">
                                <div class="text-center" ng-if="activeBusiness.business.services.length == 0">
                                    <p>Add your First Service!</p>
                                </div>
                                <div ng-repeat="service in activeBusiness.business.services track by $index"
                                     style="height:50px;">
                                    <li>
                                        <h5>{{service.name}}
                                            <div class="btn-group pull-right" role="group" aria-label="...">
                                                <button class="btn btn-md btn-gradient-warning "
                                                        ng-click="editService(service,$index)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-md btn-gradient-danger"
                                                        ng-click="openRemoveServiceModal(service,$index)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </h5>
                                    </li>
                                    <hr class="full">
                                </div>
                            </div>
                            <div class="dashboard-panel-footer">
                                <button class="btn btn-sm btn-gradient-success" ng-click="newService()">
                                    New Service
                                </button>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            <!--
                #################################
                ##
                ##    Associates  Block
                ##
                ##
                #################################
            -->
                <div class="col-xs-6 dashboard-panel-body">
                    <uib-accordion>
                        <uib-accordion-group is-open="statusTwo.open">
                            <uib-accordion-heading>
                                Associates
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': statusTwo.open, 'glyphicon-chevron-right': !statusTwo.open}"></i>
                            </uib-accordion-heading>
                            <div class="col-xs-12 dashboard-panel-list dashboard-panel-content">
                                <div class="text-center" ng-if="activeBusiness.business.employees.length == 0">
                                    <p>Add your First Associate!</p>
                                </div>
                                <div ng-repeat="associate in activeBusiness.business.employees" style="height:50px;">
                                    <li>
                                        <h5>{{associate.name}}
                                            <div class="btn-group pull-right" role="group" aria-label="...">
                                                <button class="btn btn-md btn-gradient-warning"
                                                        ng-click="openAvailabilityModal('lg',associate)"><i
                                                        class="fa fa-hourglass"></i></button>
                                                <button class="btn btn-md btn-gradient-danger"
                                                        ng-click="removeEmployee(associate, activeBusiness.business)"><i
                                                        class="fa fa-trash"></i></button>
                                            </div>
                                        </h5>
                                    </li>
                                    <hr class="full">
                                </div>
                            </div>
                            <div class="dashboard-panel-footer">
                                <button class="btn btn-sm btn-gradient-success"
                                        ng-click="openEmployee(activeBusiness.business)">
                                    New Associate
                                </button>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
            <!--
            #################################
            ##
            ##    Business Info Block
            ##
            ##
            #################################
            -->
            <div class="row">
                <div class="col-xs-12">
                    <uib-accordion>
                        <uib-accordion-group is-open="statusOne.open">
                            <uib-accordion-heading>
                                Account
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': statusOne.open, 'glyphicon-chevron-right': !statusOne.open}"></i>
                            </uib-accordion-heading>
                            <div class="row text-center">
                                <h2>Start Accepting Payments Today</h2>

                                <div ng-if="activeBusiness.business.stripeAccount.bank_accounts.total_count === 0"
                                     class="col col-xs-6">
                                    <form action="" class="form-horizontal">
                                        <div class="row row-centered">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Checking Account #</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Routing #</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Type:</label>
                                                    <div class="col-sm-6">
                                                        <select required class="form-control">
                                                            <option disabled value="">Type</option>
                                                            <option value="individual">Individual</option>
                                                            <option value="company">Company</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </form>
                                </div>
                                <div ng-if="activeBusiness.business.tier >= 1" class="col-xs-6 text-center">
                                    <div ng-repeat="field in activeBusiness.business.stripeAccount.verification.fields_needed">
                                        <form action="" id="info-form" class="form-horizontal">
                                            <div class="row row-centered"
                                                 ng-if="field !== 'tos_acceptance.date' && field !=='tos_acceptance.ip' && field !=='bank_account' && field !=='legal_entity.type'">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">{{field}}</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="cardholdername" maxlength="70"
                                                                   placeholder="{{field}}"
                                                                   ng-model="activeBusiness.business.stripeAccount[field]"
                                                                   class="card-holder-name form-control">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-gradient-green" ng-click="createPaymentsAccount()" disabled>
                                        Update Account
                                    </button>
                                </div>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </uib-tab>
        <!--
        #################################
        ##
        ##    Reports  Tab
        ##
        ##
        #################################
        -->
        <uib-tab disable="true">
            <uib-tab-heading>
                <i class="fa fa-line-chart"></i> Reports
            </uib-tab-heading>
        </uib-tab>
    </uib-tabset>
</div>