<div class="container-fluid">
    <div class="row hidden-lg feedSearch text-center">
        <form>
            <div class="text-center form-inline col-xs-12 form-group">
                <span class="left-inner-addon">
                        <i class="fa fa-building"></i>
                        <input class="form-control" aria-describedby="search" ng-model="query.term"
                               placeholder="Barbershops">
                    <!--</span>-->
                </span>
                <span class="left-inner-addon">
                    <i ng-show="!loadingLocation" class="fa fa-map-marker"></i>
                    <i ng-show="loadingLocation" class="fa fa-spinner fa-spin"></i>
                    <input class="form-control" aria-describedby="near" g-places-autocomplete
                           options="autocompleteOptions" ng-model="query.location">
                </span>
                <span>
                    <button class="btn btn-md btn-primary" ng-click="search(query)"
                            ng-disabled="query.term == undefined
                             || query.location == undefined
                              || query.term == ''
                               || query.location == ''" type="submit">
                        <i ng-show="fetchingQuery" class="fa fa-spinne fa-spinr"></i>
                        <span ng-show="!fetchingQuery">Search</span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <h1 class="page-header text-center">Results</h1>

            <p class="text-center text-muted" ng-if="businesses.length == 0 ">Go Ahead, Search for Businesses!</p>
            <!--<div class="col-md-offset-1">-->
            <div ng-repeat="business in businesses track by $index">
                <div class="col-md-10 text-left well col-md-offset-1">
                    <span>{{$index + 1}}.</span>
                    <div class="text-center">
                        <img ng-if="!business.photos" class="text-center" ng-src="{{business.icon}}" tooltip="Photos coming soon..." tooltip-placement="right" style="border-radius:20%">
                        <span ng-if="business.photos.length >1" ng-repeat="photo in business.photos">
                            <img ng-src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=50&photoreference={{photo.photo_reference}}&key=AIzaSyAK1BOzJxHB8pOFmPFufYdcVdAuLr_6z2U">
                        </span>
                        <br>

                        <!--<img ng-src="{{business.icon}}" style="border-radius:20%"></img>-->
                        <a href="/business/{{business.place_id}}">{{business.name}}</a>
                        <br><span>Rating: {{business.rating}}</span>
                        <br><span>Location: {{business.formatted_address}}</span>
                        <!--<br><span>Description: {{business.snippet_text}}</span>-->
                        <!--<br><span>Website: <a href="{{business.website}}">{{business.website}}</a></span>-->
                    </div>
                </div>
                <br>
                <!--</div>-->
            </div>
        </div>
        <div class="col col-md-5 col-md-offset-1">
            <h1 class="page-header text-center">Feed</h1>

            <div class="col">
                <p class="text-center text-muted">Coming Soon -- Deals offered by Businesses near you!</p>
            </div>
            <h1 class="page-header text-center">Activity</h1>

            <div class="col">
                <p class="text-center text-muted">Next appointment in 14 Days.</p>

                <p class="text-center text-muted">You were successfully billed for your last appointment.</p>
            </div>
        </div>
    </div>
</div>