<div class="container-fluid body-wrap">
    <div class="row">
        <div class="col col-md-6">
            <h1 class="page-header text-center">Results</h1>
            <!--<div class="col-md-offset-1">-->
                <div ng-repeat="business in businesses track by $index">
                    <div class="col-md-10 text-left well col-md-offset-1">
                        <span>{{$index +1}}.</span>
                        <div class="text-center">
                            <!--<img ng-src="{{business.icon}}" style="border-radius:20%"></img>-->
                            <a href="/business/{{business.place_id}}">{{business.name}}</a>
                            <br><span>Rating: {{business.rating}}</span>
                            <br><span>Location: {{business.formatted_address}}</span>
                            <!--<br><span>Description: {{business.snippet_text}}</span>-->
                        <!--<br><span>Website: <a href="{{business.website}}">{{business.website}}</a></span>-->
                        </div>
                    </div>
                    <br>
                <!--</div>-->
            </div>
        </div>
        <div class="col col-md-5 col-md-offset-1">
            <h1 class="page-header text-center">Feed</h1>
            <div class="col">
                <p>Things go here</p>
            </div>
            <h1 class="page-header text-center"> Recent Activity</h1>
            <div class="col">
                <p>Things go here</p>
            </div>
        </div>
    </div>
</div>