<footer style="background-color:#28282a;">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="color:white;">
                <img height="25" width="100" src="/images/bookd-2.png"/>
                <br>
                <span class="copyright">Copyright &copy; Bookd 2018</span>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a ui-sref="contact">Contact Us</a>
                    </li>
                    <li><a ui-sref="privacy">Privacy</a>
                    </li>
                    <li><a ui-sref="terms">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>