<div class="container">
    <div class="row">
        <div class="page-header">
            <h1 class="text-center">Bookd Business Registration</h1>
        </div>
    </div>
    <div class="row">
        <div uib-alert class="col-xs-8 col-xs-offset-2 text-center alert-danger" ng-show="error" role="alert">
            {{error}}
        </div>
    </div>
    <div class="row">
        <div uib-alert class="col-xs-8 col-xs-offset-2 text-center alert-danger"
             ng-show="signUpForm.signUpEmail.$error.email" role="alert" close="">
            Please enter a valid email
        </div>
    </div>
    <div class="row">
        <div uib-alert class="col-xs-8 col-xs-offset-2 text-center alert-danger"
             ng-show="signUpForm.signUpPassword.$error.minlength" role="alert" close="">
            Your password must have more than 8 characters.
        </div>
    </div>
    <div class="row">
        <div uib-alert class="col-xs-8 col-xs-offset-2 text-center alert-danger"
             ng-show="signUpForm.passwordVerify.$error.validator" role="alert">
            Password do not match.
        </div>
    </div>
    <div class="row">
        <form name="signUpForm" class="col-xs-offset-2 col-xs-8 css-form">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstName" required>
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName" required>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" name="signUpEmail" class="form-control" placeholder="Email"
                       ng-model="user.email" required
                       ng-model-options="{ updateOn: 'default blur',debounce: {'default':1000} }">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="signUpPassword" class="form-control" placeholder="Password"
                       ng-model="user.password" ng-minlength="8" required
                       ng-model-options="{ updateOn: 'default blur', debounce: {'default':500} }">
            </div>
            <div class="form-group">
                <label for="passwordVerify">Confirm Password</label>
                <input ng-model="passwordVerify" class="form-control" type="password" name="passwordVerify"
                       id="passwordVerify" ng-minlength="8" required placeholder="Confirm password"
                       ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' "
                       ng-model-options="{ updateOn: 'default blur', debounce: {'default':500} }"/>
            </div>

            <div class="form-group">
                <button ng-click="signUpForm.$valid && register()" class="btn btn-gradient-primary col-xs-12"><i
                        class="fa fa-user"></i> Sign Up
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h4 class="text-center">or</h4>
        </div>
    </div>
    <div class="row">
        <div class="btn-group col-xs-offset-2 col-xs-8">
            <button class="btn btn-primary col-xs-12" ng-click="facebookSignup()"><i
                    class="fa fa-facebook-official fa-2x"></i> Facebook
            </button>
        </div>
    </div>
</div>