<section class="searchSection">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1 class="text-center">Bookd Business Registration</h1>
            </div>
        </div>
        <div class="row search-place-container ">
            <form class="col-xs-6 form-horizontal" name="partnerForm">
                <div class="form-group">
                    <div class="col col-xs-10 col-xs-offset-1">
                        <label>Account Type</label>
                        <select class="form-control input-lg" ng-model="accountType"
                                ng-change="accountSwitch(accountType)" required>
                            <option value="">Select Type:</option>
                            <option value="owner">Shop Owner - (I own or manage a shop)</option>
                            <option value="shopEmployee">Employee - (I rent or pay commission at a shop )</option>
                            <option value="individual">Individual - (I manage my own clientele)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-xs-10 col-xs-offset-1">
                        <label for="businessName">Business Name:</label>
                        <input class="form-control input-lg" id="businessName" ng-model="selectedQuery.name"
                               placeholder="Salon 23" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-xs-10 col-xs-offset-1">
                        <label for="phone">Address:</label>
                        <input class="form-control input-lg" id="address" type="text"
                               ng-model="selectedQuery.formatted_address" ng-blur="updateQuery()" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-xs-5 col-xs-offset-1">
                        <label for="email">Email:</label>
                        <input class="form-control input-lg" type="email" id="email"
                               placeholder="{{currentUser.email}}" ng-value="currentUser.email" disabled
                               required>
                    </div>
                    <div class="col col-xs-5 ">
                        <label for="phone">Phone Number:</label>
                        <input class="form-control input-lg" id="phone" type="tel"
                               ng-model="selectedQuery.formatted_phone_number" placeholder="(555)-555-5555" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-xs-5 col-xs-offset-1">
                        <label>Subscription</label>
                        <select class="form-control input-lg" ng-model="tier" required>
                            <option value="">Select Plan</option>
                            <option value="0"> Beta - Free</option>
                            <!--<option value="1" disabled> Silver - $20.00/mo</option>-->
                            <!--<option value="2" disabled uib-tooltip="Coming soon.."> Gold - $x.xx/mo</option>-->
                        </select>
                    </div>
                    <div ng-show="accountType == 'owner'" class="col-xs-5">
                        <label>Shop Size</label>
                        <select class="form-control input-lg" ng-model="shopSize" ng-required="accountType == 'owner'">
                            <option value="">How many chairs does your shop have?</option>
                            <option value="small">1-5</option>
                            <option value="medium">5-10</option>
                            <option value="large">10+</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-show="accountType == 'shopEmployee' || accountType == 'owner'"
                         class="col col-xs-5 col-xs-offset-1">
                        <label>Chair Model</label>
                        <select class="form-control input-lg" ng-model="shopModel"
                                ng-required="accountType == 'shopEmployee' || accountType == 'owner'">
                            <option value="">Select Model:</option>
                            <option value="rent">Rent</option>
                            <option value="commission">Commission</option>
                            <option value="mixed">Mixed</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-gradient-success btn-lg col-xs-offset-5"
                        ng-click="partnerForm.$valid && claim(selectedQuery, currentUser._id)">Claim
                </button>
                <h6 class="text-center text-muted">By claiming this business, you agree to our <a ng-href="/terms">Terms
                    of
                    Service</a> and the <a ng-href="https://stripe.com/connect/account-terms">Stripe Connected Account
                    Agreement</a>.</h6>
            </form>
            <div class="col-xs-6">
                <div class="row" ng-if="displayPhotos.length > 0"
                     ng-show="accountType == 'owner' || accountType == 'shopEmployee'">
                    <div class="col col-xs-12 text-center">
                        <img ng-repeat="photo in displayPhotos" ng-src="{{photo}}"/>
                        <img ng-if="!displayPhotos.length >0 " ng-src="{{query.icon}}"/>
                    </div>
                </div>
                <div class="row" style="padding-top:10px;"
                     ng-show="accountType == 'owner' || accountType == 'shopEmployee'">
                    <div class="col col-xs-10 col-xs-offset-1 input-group">
                        <span class="input-group-addon"
                              uib-tooltip="Search for your shop to auto-fill the registration form"><i
                                class="fa fa-search"></i></span>
                        <input class="form-control input-lg" id="search" g-places-autocomplete
                               options="autocompleteOptions"
                               ng-model="query" placeholder="Let us help, search for your shop here.." required>
                    </div>
                </div>
                <div class="row" style="padding-top:10px;">
                    <iframe
                            width="100%"
                            height="50%"
                            frameborder="0" style="border:0"
                            ng-src="{{ mapLocation | staticMapsFilter: 'individual' }}" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>