<!-- Custom CSS -->
<link ng-href="/stylesheets/dist/agency.css" rel="stylesheet">
<link ng-href="/stylesheets/dist/landingNav.css" rel="stylesheet">
<span id="top"></span>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="/" style="padding-top:10px;" ng-if="$resolve.$$state.self.name == 'partner' ||  $resolve.$$state.self.name == 'privacy'
                ||  $resolve.$$state.self.name == 'terms' ||  $resolve.$$state.self.name == 'contact' || $resolve.$$state.self.name == 'reset'">
                <img src="/images/bookd_icon.png" width="33" height="33" class="d-inline-block align-top" alt="">
            </a>
            <!--<a class="navbar-brand" ng-href="/" style="padding-top:2px;"><img src="/images/buz-logo-only.png"-->
            <!--height="45px"></a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-container" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!--<a ui-sref="partner" ng-class="{dark:bool == false,light:bool == true}" ng-if="forBusiness">{{bool}} List Your Business</a>-->
                    <!--<a ui-sref="landing" ng-class="{dark:bool == false,light:bool == true}" ng-if="!forBusiness">Back To Booking</a>-->
                </li>
                <li uib-dropdown on-toggle="toggled(open)" ng-show="isLoggedIn()"
                    class="hidden-xs landing-notification-bell">
                    <!--https://stackoverflow.com/questions/15316363/how-to-display-length-of-filtered-ng-repeat-data-->
                    <a ng-href="#" uib-dropdown-toggle>
                        <i class="fa fa-bell badge {{currentUser.notifications | newNotificationFilter}}" ng-class="{'text-black': $resolve.$$state.self.name == 'partner' ||  $resolve.$$state.self.name == 'privacy'
                            ||  $resolve.$$state.self.name == 'terms' ||  $resolve.$$state.self.name == 'contact'}">
                            <span id="notificationNumber-landing" ng-class="{'text-black': $resolve.$$state.self.name == 'partner' ||  $resolve.$$state.self.name == 'privacy'
                            ||  $resolve.$$state.self.name == 'terms' ||  $resolve.$$state.self.name == 'contact'}">{{currentUser.notifications | notificationFilter}}</span>
                        </i>
                    </a>

                    <div class="dropdown-menu notifications box-shadow" ng-click="$event.stopPropagation()" role="menu"
                         aria-labelledby="dLabel">
                        <div class="notification-heading" ng-if="currentUser.notifications.length > 0">
                            <h4 class="menu-title">Notifications</h4>
                            <h4 class="menu-title pull-right" ng-click="viewAllNotifications()">Mark all as
                                viewed</h4>
                        </div>
                        <span class="divider"></span>

                        <h3 class="text-center" style="color:black" ng-if="currentUser.notifications.length === 0">
                            You have no
                            notifications!</h3>
                        <ul class="notifications-wrapper">
                            <li class="content" ng-repeat="notification in currentUser.notifications">
                                <div class="notification-item"
                                     ng-class="{'new-notification': notification.viewed === false}">
                                    <h5 class="pull-right" ng-click="viewNotification($index)"
                                        ng-if="notification.viewed === false"><i class="fa fa-times-circle-o"
                                                                                 uib-tooltip="Mark Read"
                                                                                 tooltip-placement="top"
                                                                                 tooltip-append-to-body="true"></i>
                                    </h5>
                                    <h5 ng-if="notification.type !== 'calendar'">{{notification.content}}</h5>
                                    <h5 ng-if="notification.type ==='calendar'">
                                        {{notification.content}}{{notification.date | notificationDateFilter }}</h5>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h5 class="notification-timestamp">{{notification.timestamp |
                                                timeStampFilter}}
                                            </h5>
                                        </div>
                                        <div class="col-xs-6">
                                            <a id="calendarLink" ng-if="notification.type === 'calendar'"
                                               class="pull-right notification-link" ui-sref="calendar">Go to
                                                calendar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li uib-dropdown ng-show="isLoggedIn()" class="hidden-xs avatar">
                    <a ng-href="" uib-dropdown-toggle
                       class=" avatarPadding truncateTrunc">
                        <img class="navbarAvatar"
                             ng-if="!currentUser.avatarVersion && currentUser.provider === 'bookd'"
                             ng-src="{{cloudinaryDefaultPic}}"/>
                        <img class="navbarAvatar"
                             ng-if="currentUser.avatarVersion && currentUser.provider === 'bookd'"
                             ng-src="{{cloudinaryBaseUrl}}{{currentUser.avatarVersion}}/profile/{{currentUser._id}}"/>
                        <img class="navbarAvatar" ng-if="currentUser.provider === 'google_plus'"
                             ng-src="{{currentUser.providerInfo}}"/>
                        <img class="navbarAvatar" ng-if="currentUser.provider === 'facebook'"
                             ng-src="{{currentUser.providerInfo}}"/>
                        <span ng-class="{'text-black': $resolve.$$state.self.name == 'partner' ||  $resolve.$$state.self.name == 'privacy'
                            ||  $resolve.$$state.self.name == 'terms' ||  $resolve.$$state.self.name == 'contact'}">{{currentUser.firstName}}</span>
                        <i
                                class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu droplinks box-shadow">
                        <li ng-hide="!isLoggedIn()">
                            <a ui-sref="search">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                        <li>
                            <a ui-sref="calendar">
                                <i class="far fa-calendar-alt"></i> Appointments
                            </a>
                        </li>
                        <!--<li>-->
                            <!--<a ng-if="isLoggedIn() && currentUser.isAssociate"-->
                               <!--ng-click="navbarCollapsed = !navbarCollapsed;"-->
                               <!--ui-sref="user({id:currentUser._id})">-->
                                <!--<i class="fa fa-user"></i> Profile-->
                            <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a ng-if="currentUser.businessOwner" ui-sref="dashboard">
                                <i class="fas fa-chart-line"></i> Manage
                            </a>
                        </li>
                        <li>
                            <a ui-sref="account({id:currentUser._id})">
                                <i class="fa fa-cog"></i> Settings
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a ng-click="logOut()">
                                <i class="fas fa-sign-out-alt"></i> Log Out
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="hidden-sm hidden-md hidden-lg">
                    <a ui-sref="search" ui-sref-active="active"
                       ng-click="navbarCollapsed = !navbarCollapsed;">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                <li ng-if="isLoggedIn()" class="hidden-sm hidden-md hidden-lg">
                    <a ui-sref="calendar" ng-click="">
                        <i class="far fa-calendar-alt"></i> Appointments
                    </a>
                </li>
                <!--<li ng-if="isLoggedIn() && currentUser.isAssociate" class="hidden-sm hidden-md hidden-lg">-->
                    <!--<a ng-click="navbarCollapsed = !navbarCollapsed;"-->
                       <!--ui-sref="user({id:currentUser._id})">-->
                        <!--<i class="fa fa-user"></i> Profile-->
                    <!--</a>-->
                <!--</li>-->
                <li ng-if="currentUser.businessOwner" class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="navbarCollapsed = !navbarCollapsed;" ui-sref="dashboard">
                        <i class="fas fa-chart-line"></i> Manage
                    </a>
                </li>
                <li ng-if="isLoggedIn()" class="hidden-sm hidden-md hidden-lg">
                    <a ui-sref="account({id:currentUser._id})" ng-click="">
                        <i class="fa fa-cog"></i> Settings
                    </a>
                </li>
                <hr class="hidden-sm hidden-md hidden-lg">
                <li ng-if="!isLoggedIn()">
                    <a ng-click="checkStateandLogin('login')" ng-class="{'text-black': $resolve.$$state.self.name == 'partner' ||  $resolve.$$state.self.name == 'privacy'
                            ||  $resolve.$$state.self.name == 'terms' ||  $resolve.$$state.self.name == 'contact' || $resolve.$$state.self.name == 'reset'}"><i
                            class="fas fa-sign-in-alt"></i>Log In</a>
                </li>
                <li ng-if="!isLoggedIn()">
                    <a ng-click="checkStateandLogin('signup')" ng-class="{'text-black': $resolve.$$state.self.name == 'partner' ||  $resolve.$$state.self.name == 'privacy'
                            ||  $resolve.$$state.self.name == 'terms' ||  $resolve.$$state.self.name == 'contact' || $resolve.$$state.self.name == 'reset'}"><i
                            class="fa fa-user"></i>Sign Up</a>
                </li>
                <li ng-if="isLoggedIn()" class="hidden-sm hidden-md hidden-lg">
                    <a ng-click="logOut()">
                        <i class="fas fa-sign-out-alt" ng-class="{'text-black': $resolve.$$state.self.name == 'partner' ||  $resolve.$$state.self.name == 'privacy'
                            ||  $resolve.$$state.self.name == 'terms' ||  $resolve.$$state.self.name == 'contact' || $resolve.$$state.self.name == 'reset'}"></i>
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>