<style>
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 70%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

 #landingBody{
      padding-top:20px;
      font-size: 16px;
      font-family: "Open Sans",serif;
      position: relative;
      top: 35%;
      transform: translateY(-50%);
    }
    .panel {
      background-color: rgba(255, 255, 255, 0.9);
    }
    h1{
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 50px;
      color:white;
    }
    h3{
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      color:white;
    }
    .margin-base-vertical{
      margin: 40px 0;
    }
    #firstSection{
        margin-top:10px;
        height:200px;
    }
    #secondSection{
        height:200px;
    }
    #thirdSection{
        height:200px;
    }
</style>
<script>
$( document ).ready(function() {

    scaleVideoContainer();

    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

});

function scaleVideoContainer() {

    var height = $(window).height() + 5;
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

    $(element).each(function(){
        $(this).data('height', $(this).height());
        $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() + 5,
    videoWidth,
    videoHeight;

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

            $(this).width(videoWidth).height(videoHeight);
        }

        $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

    });
}
</script>
<div class="homepage-hero-module">
    <div class="video-container hidden-sm hidden-xs">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/video/Traffic-blurred2.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="P/video/Traffic-blurred2.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="/video/Traffic-blurred2.jpg" alt="">
        </div>
    <div id="landingBody">
        <h1 class="text-center">Handi<h1>
        <h3 class="text-center">Let's get it done together ...?</h3>
    </div>
</div>
<div class="row hidden-md hidden-lg">
  <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
    <div id="carousel" style="height: 305px">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.text}}</p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div> 
<div class="jumbotron" style="margin-top:20px; margin-bottom:30px;">
    <div class="row" id="firstSection">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
            <img style="border-radius:50%" src="http://placehold.it/150x150" alt="...">
        </div>
        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 clearfix">
            <h4 class="text-center"> Heading 1 </h4>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Phasellus eget nisl dictum magna vulputate pellentesque. Etiam eget semper ex, sit amet pellentesque erat. Morbi aliquam nisi ante, nec cursus eros mattis nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum bibendum erat non diam finibus, vitae mattis nibh fringilla. Phasellus mi arcu, sollicitudin vestibulum hendrerit in, dictum sit amet dolor. Nulla in est eu erat tincidunt elementum. Curabitur a pretium turpis. Etiam eu turpis iaculis, malesuada tellus lobortis, gravida risus. Pellentesque a pharetra sapien. Maecenas lobortis porttitor purus vel efficitur.</p>
        </div>
    </div>
    <div class="row" id="secondSection">
        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 clearfix">
            <h4 class="text-center"> Heading 2 </h4>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Phasellus eget nisl dictum magna vulputate pellentesque. Etiam eget semper ex, sit amet pellentesque erat. Morbi aliquam nisi ante, nec cursus eros mattis nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum bibendum erat non diam finibus, vitae mattis nibh fringilla. Phasellus mi arcu, sollicitudin vestibulum hendrerit in, dictum sit amet dolor. Nulla in est eu erat tincidunt elementum. Curabitur a pretium turpis. Etiam eu turpis iaculis, malesuada tellus lobortis, gravida risus. Pellentesque a pharetra sapien. Maecenas lobortis porttitor purus vel efficitur.</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
          <img class="pull-right" style="border-radius:50%;" src="http://placehold.it/150x150" alt="...">
        </div>
    </div>
    <div class="row" id="thirdSection">
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
            <img style="border-radius:50%;" src="http://placehold.it/150x150" alt="...">
        </div>
        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
            <h4 class="text-center"> Heading 3 </h4>
            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Phasellus eget nisl dictum magna vulputate pellentesque. Etiam eget semper ex, sit amet pellentesque erat. Morbi aliquam nisi ante, nec cursus eros mattis nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum bibendum erat non diam finibus, vitae mattis nibh fringilla. Phasellus mi arcu, sollicitudin vestibulum hendrerit in, dictum sit amet dolor. Nulla in est eu erat tincidunt elementum. Curabitur a pretium turpis. Etiam eu turpis iaculis, malesuada tellus lobortis, gravida risus. Pellentesque a pharetra sapien. Maecenas lobortis porttitor purus vel efficitur.</p>
        </div>
    </div>
</div>