<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Book Appointments</div>
            <div class="intro-lead-in">It's That Simple</div>
            <div class="row form-inline form-group">
                <div class="col-xs-12">
                    <form name="landingQuery">
                        <div class="col-xs-12">
                            <span class="left-inner-addon left-inner-addon-landing">
                            <i class="fa fa-search"></i>
                            <input class="form-control input-lg" aria-describedby="search" ng-model="query.term"
                                   placeholder="Hair Salons" id="search" required>
                            </span>
                            <!--</div>-->
                            <!--<div class="col-xs-5 col-sm-3">-->
                            <span class="left-inner-addon left-inner-addon-landing">
                            <i ng-show="!loadingLocation" class="fa fa-map-marker"></i>
                            <i ng-show="loadingLocation" class="fa fa-spinner fa-spin"></i>
                            <input class="form-control input-lg" aria-describedby="near" g-places-autocomplete
                                   options="autocompleteOptions" ng-model="query.location" placeholder="Near.."
                                   required>
                            </span>
                            <!--</div>-->
                            <!--<div class="col-xs-2 col-sm-2">-->
                            <span>
                            <button class="btn btn-lg sectionBtn" ng-click="landingQuery.$valid && search(query)"
                                    type="submit">
                                <i style="color:white;" ng-show="fetchingQuery" class="fa fa-spinner"
                                   ng-class="{'fa-pulse' : fetchingQuery}"></i>
                                <span ng-show="!fetchingQuery">Search</span>
                            </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bookd Keeps It Simple</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-search text-primary"></i>

                    <h3>Search</h3>

                    <p class="text-muted">Search local businesses, get results. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-calendar text-primary"></i>

                    <h3>Book</h3>

                    <p class="text-muted">Schedule when you want, with who you want. Book'd is available 24/7. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-bed text-primary"></i>

                    <h3>Relax</h3>

                    <p class="text-muted">Get back to living your life.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="about" ng-show="!currentUser.user">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Join Now, It's Free!</h2>
                <hr class="light">
                <p class="text-faded">Appointment booking should be easy, let us handle the work. Open the app, pick a
                    business, book an appointment. It's that easy.</p>
                <a ng-click="openSignup('signup','landing')" class="btn sectionBtn btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<footer style="background-color:#28282a;">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="color:white;">
                <span class="copyright">Copyright &copy; Book'd 2016</span>
            </div>
            <div class="col-md-4">
                <!--<ul class="list-inline social-buttons">-->
                    <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/privacy">Privacy</a>
                    </li>
                    <li><a href="/terms">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
