<tabset justified="true">
    <tab heading="{{tabs[0].title}}" active="tabs[0].active">
        <div class="modal-body row">
            <div class=" text-center alert bg-danger" ng-show="error" role="alert" close="">
                {{error}}
            </div>
            <form class="col-md-offset-2 col-md-8">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                </div>
                <div class="form-group">
                    <button type="submit" ng-click="logIn()" class="btn btn-primary col-md-12">Log In</button>
                </div>
            </form>
        </div>
    </tab>
    <tab heading="{{tabs[1].title}}" active="tabs[1].active">
        <div class="modal-body row">
            <div class=" text-center alert bg-danger" ng-show="error" role="alert" close="">
                {{error}}
            </div>
            <form class="col-md-offset-2 col-md-8">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstName">
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName">
                </div>

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                </div>

                <div class="form-group">
                    <button ng-click="register()" class="btn btn-primary col-md-12">Sign Up</button>
                </div>
            </form>
        </div>
    </tab>
</tabset>