<section class="background wrapper">
    <div class="container-fluid">
        <div class="row text-center center-screen">
            <div class="col-xs-12">
                <div id="reset-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div uib-alert class="text-center" type="danger"
                                 ng-show="newPasswordForm.password.$error.minlength" role="alert">
                                Your password must have more than 8 characters.
                            </div>
                            <div uib-alert class="text-center" type="danger"
                                       ng-show="newPasswordForm.passwordVerify.$error.minlength" role="alert">
                                Your password must have more than 8 characters.
                            </div>
                            <div uib-alert class="text-center" type="danger"
                                       ng-show="newPasswordForm.passwordVerify.$error.validator" role="alert">
                                Password do not match.
                            </div>
                            <div uib-alert class="text-center" type="danger"
                                       ng-show="error" role="alert">
                                Your link expired! Please go to 'Forgot Password' again.
                            </div>
                        </div>
                    </div>
                    <form class="form-inline" name="newPasswordForm">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Enter your new password</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="password">
                                    Password
                                </label>
                                <input ng-model="password" class="form-control" type="password" id="password"
                                       name="passwordVerify" ng-minlength="8" required placeholder="Password"
                                       ng-model-options="{ updateOn: 'default blur', debounce: {'default':500} }"/>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="passwordVerify">
                                    Confirm Password
                                </label>
                                <input ng-model="passwordVerify" class="form-control" type="password"
                                       name="passwordVerify"
                                       id="passwordVerify" ng-minlength="8" required placeholder="Confirm password"
                                       ui-validate=" '$value==password' " ui-validate-watch=" 'password' "
                                       ng-model-options="{ updateOn: 'default blur', debounce: {'default':500} }"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary reset-button"
                                        ng-click="newPasswordForm.$valid && newPassword()">
                                    Change password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>
<footer style="background-color:#28282a;">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="color:white;">
                <span class="copyright">Copyright &copy; Book'd 2016</span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/privacy">Privacy</a>
                    </li>
                    <li><a href="/terms">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
