<section class="background wrapper">
    <div class="container-fluid">
        <div class="row text-center center-screen">
            <div class="col-xs-12">
                <div id="reset-container">
                    <form class="form-inline">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Enter your new password</h2>
                            </div>
                        </div>
                        <label for="password">
                            Password
                        </label>
                        <input ng-model="password" class="form-control" type="password" id="password"
                               placeholder="Password"/>
                        <label for="confirm-password">
                            Password
                        </label>
                        <input ng-model="confirm-password" class="form-control" type="password" id="confirm-password"
                               placeholder="Confirm password"/>
                        <button type="submit" class="btn btn-primary reset-button" ng-click="reset()">
                            Change password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>
<footer style="background-color:#28282a;">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="color:white;">
                <span class="copyright">Copyright &copy; Book'd 2016</span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/privacy">Privacy</a>
                    </li>
                    <li><a href="/terms">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
