<div class="container-fluid text-center">
    <h1>Book'd Partner Information Page</h1>
    <div id="pricing">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Bronze (Free)</th>
                <th>Silver (Free)</th>
                <th>Gold ($7.99 per month)<br>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="column-first">Appointment syncing</td>
                <td class="column-second">
                    <i class="fa fa-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="column-first">Automatic payment handling</td>
                <td class="column-second"><i class="fa fa-times"></i>
                </td>
                <td class="column-three"><i class="fa fa-check text-success"></i>
                </td>
                <td class="column-three"><i class="fa fa-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="column-first">Text message reminders</td>
                <td class="column-second"><i class="fa fa-times"></i>
                </td>
                <td class="column-three"><i class="fa fa-times"></i>
                </td>
                <td class="column-three"><i class="fa fa-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="column-first">Featured advertisement on local customer feeds</td>
                <td class="column-second"><i class="fa fa-times"></i>
                </td>
                <td class="column-three"><i class="fa fa-times"></i>
                </td>
                <td class="column-three"><i class="fa fa-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="column-first">Priority customer support</td>
                <td class="column-second"><i class="fa fa-times"></i>
                </td>
                <td class="column-three"><i class="fa fa-times"></i>
                </td>
                <td class="column-three"><i class="fa fa-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="column-three"><a ng-click="goToClaim()" class="btn btn-xl sectionBtn">Select</a></td>
                <td class="column-three"><a ng-click="goToClaim()" class="btn btn-xl btn-primary">Select</a></td>
                <td class="column-three"><a ng-click="goToClaim()" class="btn btn-xl sectionBtn">Select</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h3>Register your Business</h3>
    <a ng-click="goToClaim()" class="btn btn-xl sectionBtn">Sign Up</a>
</div>