<link ng-href="/stylesheets/partner.css" rel="stylesheet">
<section id="services" class="background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Perfect For Your Business</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar text-primary"></i>

                    <h3>Appointment Booking</h3>

                    <p class="text-muted">Let your customers schedule appointments 24/7. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tachometer text-primary"></i>

                    <h3>Management Tools</h3>

                    <p class="text-muted">Manage staff schedules and services.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-credit-card text-primary"></i>

                    <h3>Payments Made Easy</h3>

                    <p class="text-muted">Accept payments directly through our app!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-color-white hidden-xs hidden-sm">
    <div class="container text-center">
        <a ng-click="join()" class="btn sectionBtn btn-xl">Register Now</a>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>

                <h3 class="section-subheading">Don't worry, we won't bite.</h3>
            </div>
        </div>
        <div ng-if="!sent" class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" name="name"
                                       ng-model="contact.name" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email"
                                       name="email" ng-model="contact.email" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone"
                                       name="phone" ng-model="contact.phone" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" name="message"
                                          ng-model="contact.message" required></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button class="btn sectionBtn btn-xl" ng-click="sentMessage.$valid && contactUs(contact);">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-if="sent" class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">We got your message & will contact you soon. Look for our email!</h3>
                <h4 class="section-heading">Thanks!</h4>
            </div>
        </div>
    </div>
</section>
<footer style="background-color:#28282a;">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="color:white;">
                <span class="copyright">Copyright &copy; Bookd 2016</span>
            </div>
            <div class="col-md-4">
                <!--<ul class="list-inline social-buttons">-->
                <!--<li><a ng-href="#"><i class="fa fa-twitter"></i></a>-->
                    <!--</li>-->
                <!--<li><a ng-href="#"><i class="fa fa-facebook"></i></a>-->
                    <!--</li>-->
                <!--<li><a ng-href="#"><i class="fa fa-linkedin"></i></a>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a ng-href="/privacy">Privacy</a>
                    </li>
                    <li><a ng-href="/terms">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
