<link ng-href="/stylesheets/partner.css" rel="stylesheet">
<section id="services" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Perfect For Your Business</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x far fa-calendar-alt text-white"></i>

                    <h3>Appointment Booking</h3>

                    <p class="text-muted">Let your customers schedule appointments 24/7. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fas fa-chart-line text-white"></i>

                    <h3>Management Tools</h3>

                    <p class="text-muted">Manage staff schedules and services.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-credit-card text-white"></i>

                    <h3>Payments Made Easy</h3>

                    <p class="text-muted">Accept payments directly through our app!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="bg-color-white">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>How It Works</h2>
            <div>
                <table class="table table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">Standard</th>
                        <th class="text-center">Premium</th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="column-first"><b>General</b></td>
                        <td class="column-second"></td>
                        <td class="column-three"></td>
                    </tr>
                    <tr>
                        <td class="column-first">Accept Appointments 24/7</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first">Listing</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first">Business Page</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first">Staff Profile Pages</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first"><b>Dashboard</b></td>
                        <td class="column-second"></td>
                        <td class="column-three"></td>
                    </tr>
                    <tr>
                        <td class="column-first">Real Time Appointments Calendar</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first">Manage Staff Appointments</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first">Add/Update Service Offerings</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first">Accept Payments & Charge Customers</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first">Manage Multiple Businesses</td>
                        <td class="column-second text-center"><i class="fa fa-times"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first"><b>Management</b></td>
                        <td class="column-second"></td>
                        <td class="column-three"></td>
                    </tr>
                    <tr>
                        <td class="column-first">View Staff Availability</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first">Update Staff Availability</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first">2 Additional Staff Members</td>
                        <td class="column-second text-center"><i class="fa fa-check text-success"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first">3+ Additional Staff Members</td>
                        <td class="column-second text-center"><i class="fa fa-times"></i>
                        </td>
                        <td class="column-three text-center"><i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-first"></td>
                        <td class="column-second text-center">Free!
                        </td>
                        <td class="column-three text-center">$20.00/mo
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a ng-click="goToClaim('','businessRegister')" class="btn sectionBtn btn-xl">Register Now</a>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>

                <h3 class="section-subheading">Don't worry, we won't bite.</h3>
            </div>
        </div>
        <div ng-if="!sent" class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" name="name"
                                       ng-model="contact.name" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email"
                                       name="email" ng-model="contact.email" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone"
                                       name="phone" ng-model="contact.phone" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" name="message"
                                          ng-model="contact.message" required></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button class="btn sectionBtn btn-xl" ng-click="sentMessage.$valid && contactUs(contact);">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-if="sent" class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">We got your message & will contact you soon. Look for our email!</h3>
                <h4 class="section-heading">Thanks!</h4>
            </div>
        </div>
    </div>
</section>
<footer style="background-color:#28282a;">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="color:white;">
                <img height="25" width="100" src="/images/bookd-2.png"/>
                <br>
                <span class="copyright">Copyright &copy; Bookd 2018</span>
            </div>
            <div class="col-md-4">
                <!--<ul class="list-inline social-buttons">-->
                <!--<li><a ng-href="#"><i class="fa fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li><a ng-href="#"><i class="fa fa-facebook"></i></a>-->
                <!--</li>-->
                <!--<li><a ng-href="#"><i class="fa fa-linkedin"></i></a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a ng-href="/privacy">Privacy</a>
                    </li>
                    <li><a ng-href="/terms">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
