<link href="/stylesheets/partner.css" rel="stylesheet">
<section>
    <div class="container-fluid">
        <h1 class="text-center">Privacy Policy Coming Soon..</h1>

        <h3>Lorem</h3>
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique nulla ac maximus rutrum.
            Maecenas eu magna vel lectus condimentum viverra. Sed id velit tempus, placerat ante quis, vestibulum
            ligula. In urna ipsum, ultricies feugiat dolor sed, laoreet consequat eros. Integer et massa mauris.
            Vestibulum sollicitudin vitae purus ut aliquet. Nunc felis justo, lacinia vel ipsum egestas, faucibus dictum
            quam. Aenean varius nunc non erat semper tincidunt. Maecenas placerat lacus ligula, sit amet congue massa
            dictum eget.</h6>

        <h3>Lorem</h3>
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique nulla ac maximus rutrum.
            Maecenas eu magna vel lectus condimentum viverra. Sed id velit tempus, placerat ante quis, vestibulum
            ligula. In urna ipsum, ultricies feugiat dolor sed, laoreet consequat eros. Integer et massa mauris.
            Vestibulum sollicitudin vitae purus ut aliquet. Nunc felis justo, lacinia vel ipsum egestas, faucibus dictum
            quam. Aenean varius nunc non erat semper tincidunt. Maecenas placerat lacus ligula, sit amet congue massa
            dictum eget.</h6>

        <h3>Lorem</h3>
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique nulla ac maximus rutrum.
            Maecenas eu magna vel lectus condimentum viverra. Sed id velit tempus, placerat ante quis, vestibulum
            ligula. In urna ipsum, ultricies feugiat dolor sed, laoreet consequat eros. Integer et massa mauris.
            Vestibulum sollicitudin vitae purus ut aliquet. Nunc felis justo, lacinia vel ipsum egestas, faucibus dictum
            quam. Aenean varius nunc non erat semper tincidunt. Maecenas placerat lacus ligula, sit amet congue massa
            dictum eget.</h6>

        <h3>Lorem</h3>
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique nulla ac maximus rutrum.
            Maecenas eu magna vel lectus condimentum viverra. Sed id velit tempus, placerat ante quis, vestibulum
            ligula. In urna ipsum, ultricies feugiat dolor sed, laoreet consequat eros. Integer et massa mauris.
            Vestibulum sollicitudin vitae purus ut aliquet. Nunc felis justo, lacinia vel ipsum egestas, faucibus dictum
            quam. Aenean varius nunc non erat semper tincidunt. Maecenas placerat lacus ligula, sit amet congue massa
            dictum eget.</h6>

        <h3>Lorem</h3>
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique nulla ac maximus rutrum.
            Maecenas eu magna vel lectus condimentum viverra. Sed id velit tempus, placerat ante quis, vestibulum
            ligula. In urna ipsum, ultricies feugiat dolor sed, laoreet consequat eros. Integer et massa mauris.
            Vestibulum sollicitudin vitae purus ut aliquet. Nunc felis justo, lacinia vel ipsum egestas, faucibus dictum
            quam. Aenean varius nunc non erat semper tincidunt. Maecenas placerat lacus ligula, sit amet congue massa
            dictum eget.</h6>
    </div>
</section>
<footer style="background-color:#28282a;">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="color:white;">
                <span class="copyright">Copyright &copy; Book'd 2016</span>
            </div>
            <div class="col-md-4">
                <!--<ul class="list-inline social-buttons">-->
                <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                <!--</li>-->
                <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/privacy">Privacy</a>
                    </li>
                    <li><a href="/terms">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
