<div class="container-fluid">
    <div class="page-header">
      <h1 class="text-center">{{currentUser.firstName}}'s Profile</h1>
    </div>
    <form style="margin-top:30px;">
      <div class="row">
        <div class="form-group col-md-2">
          <span ng-if="currentUser.avatarVersion">
          <image ng-src="{{cloudinaryBaseUrl}}{{currentUser.avatarVersion}}/profile/{{currentUser._id}}">
        </span>
        <span ng-if="!currentUser.avatarVersion">
          <image ng-src="{{cloudinaryDefaultPic}}">
        </span>
        </div>
        <div class="col-md-3">
          First Name : {{currentUser.firstName}} 
          <br>
          Last Name: {{currentUser.lastName}}
        </div>
      </div>
    </form>

    <div>
      <h3>{{currentUser.firstName}}'s Posts</h3>
      <div class="well"ng-repeat="post in currentUser.posts">
        Number Of Posts: {{currentUser.posts.length}}<br>
        Post Number: {{$index}} <br>
        Title: {{post.title}}<br>
        Description: {{post.description}}<br>
        Location: {{post.location}}<br>
        Rate: {{post.rate}}<br>
        Timestamp: {{post.timestamp}}<br>
        Reviews: {{post.reviews.length}}
      </div>
    </div>
</div>