<div class="container-fluid">
  <div class="row page-header">
      <div class="text-left col-md-2">
          <div ng-if="currentUser.user._id == user._id">
              <img ng-if="!currentUser.user.avatarVersion && currentUser.user.provider =='bookd'" ng-src="{{cloudinaryDefaultPic}}"/>
              <img ng-if="currentUser.user.avatarVersion && currentUser.user.provider == 'bookd'"  ng-src="{{cloudinaryBaseUrl}}{{currentUser.user.avatarVersion}}/profile/{{currentUser.user._id}}"/>
              <img ng-if="currentUser.user.provider == 'google_plus'"  ng-src="{{currentUser.providerInfo}}"/>
              <img ng-if="currentUser.user.provider == 'facebook'"  ng-src="{{currentUser.providerInfo}}"/>
          </div>
          <div ng-if="currentUser.user._id !== user._id">
              <img ng-if="!user.avatarVersion && user.provider =='bookd'" ng-src="{{cloudinaryDefaultPic}}"/>
              <img ng-if="user.avatarVersion && user.provider == 'bookd'"  ng-src="{{cloudinaryBaseUrl}}{{user.avatarVersion}}/profile/{{user._id}}"/>
          </div>
      </div>
      <div class="col-md-8">
        <h1 ng-if="currentUser.user._id !== user._id" class="text-center">
          {{user.name}}'s Profile
        </h1>
        <h1 ng-if="currentUser.user._id == user._id" class="text-center">
          Your Profile
        </h1>
        <h3 class="text-center">
          <rating class="text-warning" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" >
          </rating>
        </h3>
        <!--<div class="col-md-3 col-md-offset-5">-->
          <h4 class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec interdum nibh.
          </h4>
        <!--</div>-->
      </div>
  </div>
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h3 class="text-center">Recent Instagram Photos</h3>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6" ng-repeat="n in [0,1,2,3,4,5,6]">
            <img style="padding-top:5px;border-radius: 20%" src="http://placehold.it/150x150">
        </div>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h3 class="text-center">Customer Reviews</h3>
        <div class="well" style="overflow-y: scroll; height:300px">
          <div class="row" ng-repeat="business in user.businesses">
            <div class="col-md-2">
              <img ng-src="{{business.icon}}" style="border-radius:20%;">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>