<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3 class="modal-title text-center">Remove Employee</h3>
</div>
<div class="modal-body">
    <div ng-if="employeeHasService">
        <h4>{{employee.name}} is the only employee associated with the following service(s):</h4>
        <ul>
            <li class="h5" ng-repeat="service in associatedServices">{{service}}</li>
        </ul>
        <h4>Please delete or assign another employee to the service(s) before deleting {{employee.name}}.</h4>
    </div>
    <h4 ng-if="!employeeHasService">Are you sure you would like to remove {{employee.name}}
        {{employee.lastName}}?</h4>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-if="!employeeHasService" ng-click="remove()">Yes, remove {{employee.name}}
    </button>
    <button class="btn btn-primary" ng-if="employeeHasService" ng-click="cancel()">Ok</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>