<section class="background wrapper">
    <div class="container-fluid">
        <div class="row text-center center-screen">
            <div class="col-xs-12">
                <div id="reset-container">
                    <form class="form-inline" name="emailForm">
                        <div class="row">
                            <div class="col-xs-12">
                                <div uib-alert class="text-center" type="danger"
                                     ng-show="error" role="alert">
                                    {{error}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Reset your password</h2>
                            </div>
                        </div>
                        <p>Enter your email address below and we'll send you a link to reset your password.</p>
                        <label for="email">
                            Your Email
                        </label>
                        <input ng-model="email" class="form-control" required type="email" id="email"
                               placeholder="Email"/>
                        <button type="submit" class="btn btn-primary reset-button"
                                ng-click="emailForm.$valid && reset()">
                            Send reset password email
                        </button>
                    </form>
                    <div class="row" ng-show="emailSent">
                        <div class="col-xs-12">
                            <p class="email-success">An email is on its way to you. Follow the instructions to reset
                                your password.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>
<footer style="background-color:#28282a;">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="color:white;">
                <span class="copyright">Copyright &copy; Book'd 2016</span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/privacy">Privacy</a>
                    </li>
                    <li><a href="/terms">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
