<div class="container-fluid" style="background-color:white;">
    <div class="row">
        <div class="col col-xs-12 col-sm-5 searchResults">
            <div class="page-header hidden-xs">
                <p class="text-center text-muted" ng-if="businesses.length === 0 && !searched">Go Ahead, Search for
                    Businesses!</p>

                <p class="text-center text-muted" ng-if="businesses.length === 0 && searched">Sorry, no results for that
                    business/service.</p>

                <p class="text-center text-muted" ng-if="businesses.length > 0">Results</p>
            </div>
            <div class="row page-header hidden-sm hidden-md hidden-lg" style="margin-top:10px;">
                <form name="navQuery" class="form-inline">
                    <div class="col-xs-12">
                        <div class="form-group left-inner-addon">
                            <i class="fa fa-search"></i>
                            <input class="form-control input-md" aria-describedby="search" ng-model="query.term"
                                   placeholder="Hair Salons" required>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group left-inner-addon">
                            <i ng-show="!loadingLocation" class="fa fa-map-marker"></i>
                            <i ng-show="loadingLocation" class="fa fa-spinner fa-spin"></i>
                            <input class="form-control input-md" aria-describedby="near" g-places-autocomplete
                                   options="autocompleteOptions" ng-model="query.location" placeholder="Near.."
                                   required>
                        </div>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2">
                        <button class="btn btn-lg btn-block sectionBtn" ng-click="navQuery.$valid && search(query)"
                                type="submit">
                            <i style="color:white;" ng-show="fetchingQuery" class="fa fa-spinner"
                               ng-class="{'fa-pulse' : fetchingQuery}"></i>
                            <span ng-show="!fetchingQuery">Search</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <p class="text-center text-muted" ng-if="businesses.length === 0 && !searched">Go Ahead, Search for
                    Businesses!</p>

                <p class="text-center text-muted" ng-if="businesses.length === 0 && searched">Sorry, no results for that
                    business/service.</p>

                <p class="text-center text-muted" ng-if="businesses.length > 0">Results</p>
            </div>
            <div ng-repeat="business in businesses track by $index" ng-mouseover="showDetail(business)">
                <a href="#">
                    <div class="row" ng-click="selectBusiness(business)">
                        <div class="col-md-12 text-center">
                            <img ng-if="!business.photos" ng-src="{{business.icon}}"
                                 uib-tooltip="Photos coming soon..." tooltip-placement="right"
                                 style="border-radius:20%">
                            <span ng-if="business.photos.length > 1" ng-repeat="photo in business.photos">
                                <img ng-src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=75&maxheight=50&photoreference={{photo.photo_reference}}&key=AIzaSyAK1BOzJxHB8pOFmPFufYdcVdAuLr_6z2U">
                            </span>
                            <br>

                            <h3>{{business.name}}</h3>

                            <div ng-if="business.rating">
                                <uib-rating class="text-warning" ng-model="business.rating" max="max"
                                            readonly="isReadonly"
                                            on-hover="hoveringOver(value)" on-leave="overStar = null"
                                            titles="['one','two','three']">
                                </uib-rating>
                                {{business.rating}}
                            </div>
                            <span ng-if="!business.rating">This Business has not been rated yet.</span>

                            <div>
                                <i class="fa fa-map-marker"></i> {{business.formatted_address}}
                            </div>
                        </div>
                    </div>
                </a>
                <hr class="full">
            </div>
            <div>
                <p class="text-center" ng-if="businesses.length > 0" class="text-center">{{businesses.length}}
                    results</p>
            </div>
        </div>
        <div class="col col-sm-7 hidden-xs" style="padding:0">
            <ng-map center="{{center}}" zoom="12" style="height:100%;">
                <marker ng-if="personalCenter" position="{{center}}" icon="/images/currLocationIcon.png"></marker>
                <marker id="{{businesses[$index].id}}" ng-repeat="pos in positions"
                        position="{{pos}}" on-mouseover="showDetailClicked(businesses[$index])"></marker>
                <info-window id="info">
                    <div>
                        {{business.name}}
                    </div>
                </info-window>
            </ng-map>
        </div>

    </div>
</div>

<!--
                Enable this when we activate filters
<span ng-dropdown-multiselect="" options="filters" extra-settings="settings" selected-model="activeFilters" translation-texts="customTexts"></span>


->